.action
    .action__left
        h2.action__title Купите дверь и выиграйте путешествие в Италию
        a(href="#").action__link узнать условия
    .action__right
        p.action__text Акция действует с 13 мая
            br
            | по 14 июня включительно. Выбрать можно любую дверь из каталога на сайте. Розыгрыш призов состоится 19 июня в 15:00 с помощью закрытого лототрона.
    .action__img