.collection
    .row
        .offset-lg-1.col-lg-9
            .collection__img
                img(src="images/collection.png" alt='collection')
        .offset-lg-1.col-lg-5
            .collection__block
                .collection__about Коллекция дверей
                h2.collection__title  Классицизм
                p.collection__descr
                    | Двери в сдержанном классическом
                    br
                    | дизайне. Модели украшены патиной,
                    br
                    | дополнены стеклянными вставками
                    br
                    | и рисунками. Отделаны эмалью от
                    br
                    | итальянского производителя.
                a(href="#").collection__link все двери коллекции