footer.footer
    .container
        .row
            .col-lg-3
                h5.footer__title Каталог
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link Входные двери
                    li.footer__item
                        a(href="#").footer__link Межкомнатные
                    li.footer__item
                        a(href="#").footer__link Комплексные решения
            .col-lg-4
                h5.footer__title Покупателю
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link Бесплатный замер
                    li.footer__item
                        a(href="#").footer__link Оплата
                    li.footer__item
                        a(href="#").footer__link Доставка и установка
                    li.footer__item
                        a(href="#").footer__link Виды межкомнатных дверей
            .col-lg-2
                h5.footer__title О компании
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link О нас
                    li.footer__item
                        a(href="#").footer__link Контакты
                    li.footer__item
                        a(href="#").footer__link Реквизиты

            .col-lg-3
                h5.footer__title Следите
                ul.footer__list
                    li.footer__item
                        a(href="#").footer__link Инстаграм
                    li.footer__item
                        a(href="#").footer__link Фейсбук
                    li.footer__item
                        a(href="#").footer__link Пинтерест
            .col-lg-4
                h5.footer__title Фирменные салоны
                p.footer__address
                    | пр-т Дзержинского, 131
                    | ул. Кальварийская, 7Б, ТЦ «Трюм»
                p.footer__phones
                    | + 375 29 161 30 33
                    br
                    | + 375 29 161 30 33
.footer__bottom
    .container
        .row.footer__row
            .footer__site © Порте-Ричи 2019
            a(href="#").footer__develop Сайт разработал «Чеширский Кот» на 1С-Битрикс