.pagination
    a(href="#").pagination__back назад
    a(href="#").pagination__number.pagination__number--active 1
    a(href="#").pagination__number 2
    a(href="#").pagination__number 3
    a(href="#").pagination__number 4
    a(href="#").pagination__number 5
    a(href="#").pagination__next далее
    a(href="#").pagination__download загрузить ещё 30 дверей