section.recently-viewed
    h2.recently-viewed__title Вы недавно просматривали
    .recently-viewed__container
        .recently-viewed__item.catalog-item.catalog-item--interior
            a(href="#").catalog-item__link
                .catalog-item__mask
                .catalog-item__img
                    img(src="images/catalog-item-18.png", alt="catalog item")
                .catalog-item__footer
                    .catalog-item__row
                        span.catalog-item__name MK01K
                        span.catalog-item__price 4 323 руб.
                    .catalog-item__row
                        .catalog-item__material-container
                            span.catalog-item__material Шпон и эмаль
                        .catalog-item__colors
                            .catalog-item__color.catalog-item__color--multicolor
        .recently-viewed__item.catalog-item.catalog-item--interior
            a(href="#").catalog-item__link
                .catalog-item__mask
                .catalog-item__img
                    img(src="images/catalog-item-18.png", alt="catalog item")
                .catalog-item__footer
                    .catalog-item__row
                        span.catalog-item__name MK01K
                        span.catalog-item__price 4 323 руб.
                    .catalog-item__row
                        .catalog-item__material-container
                            span.catalog-item__material Шпон и эмаль
                        .catalog-item__colors
                            .catalog-item__color.catalog-item__color--multicolor
        .recently-viewed__item.catalog-item.catalog-item--interior
            a(href="#").catalog-item__link
                .catalog-item__mask
                .catalog-item__img
                    img(src="images/catalog-item-18.png", alt="catalog item")
                .catalog-item__footer
                    .catalog-item__row
                        span.catalog-item__name MK01K
                        span.catalog-item__price 4 323 руб.
                    .catalog-item__row
                        .catalog-item__material-container
                            span.catalog-item__material Шпон и эмаль
                        .catalog-item__colors
                            .catalog-item__color.catalog-item__color--multicolor