.view-instagram
    .view-instagram__left
        h2.view-instagram__title Следите за нами
            br
            | в Инстаграме
        a(href="#").view-instagram__link посмотреть профиль
    .view-instagram__right
        .view-instagram__photo
            img(src="images/insta-1.png" alt="insta")
        .view-instagram__photo
            img(src="images/insta-2.png" alt="insta")
        .view-instagram__photo
            img(src="images/insta-3.png" alt="insta")
        .view-instagram__photo
            img(src="images/insta-4.png" alt="insta")