include utils/mixins

include components/head
body
    include components/header
    main.main-container
       section.big-screen.big-screen--invisible
            .container
                .row
                    .offset-lg-8.col-lg-6.no-padding
                        .product-variant__card
                            include components/breadcrumbs
                            h1.product-variant__title Дверь-невидимка РДА10
                            span.product-variant__order
                                span Под заказ до 45 дней
                            p.product-variant__description Дверь устанавливается вровень со стеной. Поверхность полотна покрыта грунт-плёнкой. Отделывается в цвет стены краской, обоями
                                br
                                | или другим материалом.

                            .product-variant__card-description Примеры дверей-невидимок установлены в фирменных салонах на пр-те Дзержинского, 122
                                br
                                | и Кальварийской, 7Б, ТЦ «Трюм»
                            .product-variant__card-price.product-variant__card-price--new
                                h6 цена комплекта
                                span 1685 рублей
                                span.product-variant__card-oldprice.with--line  2456 рублей
                            .product-variant__card-counter
                                .product-variant__card-left количество
                                .product-variant__card-right
                                    .product-variant__card-minus
                                    .product-variant__card-number 99
                                    .product-variant__card-plus
                            .product-variant__card-cost
                                span что входит в стоимость
                            button.product-variant__card-add  добавить к заказу

       section.action__block
            .container
                .row
                    include components/action

       .collection.collection-invisible
            .wrap
                .row
                    .offset-lg-1.col-lg-7
                        .collection__img.collection-invisible__img
                            img(src="images/invisible-collection.png" alt='collection')
                    .offset-lg-1.col-lg-6.no-padding-left
                        .collection__block
                            h2.collection__title.collection-invisible__title
                                strong Д
                                span верь-невидимка — продолжение интерьера
                            p.collection__descr У скрытой двери нет наличников
                                br
                                | и традиционной коробки. Такая конструкция не занимает место на стенах и визуально расширяет пространство помещения.
                                br
                                | Дверь-невидимка сливается с обстановкой
                                br
                                | и становится незаметной, но при этом функциональной частью интерьера.
       section.product-cost.product-cost__invisible
            .product-cost__slider.owl-carousel
                .product-cost__slide
                    .container
                        .row
                            .col-lg-4.no-padding-left
                                h2.product-cost__title.product-cost__title-main
                                    | Что входит
                                    br
                                    | в стоимость
                                p.product-cost__text.product-cost__text--left  Мы предлагаем готовый вариант двери с открыванием на себя. Все необходимые элементы и фурнитура уже включены в стоимость.
                                .product-cost__table.product-cost__table--left
                                    .product-cost__table-head
                                        .product-cost__table-title элемент
                                        .product-cost__table-title цена, руб
                                    .product-cost__table-body
                                        .product-cost__table-row
                                            .product-cost__table-text дверное полотно
                                            .product-cost__table-text 600
                                        .product-cost__table-row
                                            .product-cost__table-text коробка
                                            .product-cost__table-text 200
                                        .product-cost__table-row
                                            .product-cost__table-text фурнитура
                                            .product-cost__table-text 655
                                .product-cost__price
                                    .product-cost__price-text цена комплекта
                                    .product-cost__price-number 1685 рублей
                            .col-lg-8

                            .col-lg-4.no-padding-right
                                .product-cost__title Дверное полотно
                                p.product-cost__text.product-cost__table--right Выполнено из переклеенного масива хвойных пород дерева. Алюминиевая кромка защищает края створки от повреждений, подчёркивает геометрию двери.
                                .product-cost__table.product-cost__table--right.product-cost__table--line
                                    .product-cost__table-head
                                        .product-cost__table-title Параметры
                                        .product-cost__table-title мм
                                    .product-cost__table-body
                                        .product-cost__table-row
                                            .product-cost__table-text высота
                                            .product-cost__table-text 2000
                                        .product-cost__table-row
                                            .product-cost__table-text ширина
                                            .product-cost__table-text 600, 700, 800, 900
                                        .product-cost__table-row
                                            .product-cost__table-text толщина
                                            .product-cost__table-text 40
                                .product-cost__title Коробка скрытого монтажа
                                p.product-cost__text.product-cost__text--bottom Аллюминиевая конструкция устанавливается в одной плоскости со стеной без наличника и зашивается листом гипсокартона.
                                .product-cost__table-body
                                    .product-cost__table-row
                                        .product-cost__table-text Ширина
                                        .product-cost__table-text 74 мм
                .product-cost__slide
                    .container
                        .row
                            .col-lg-4.no-padding-left
                                h2.product-cost__title.product-cost__title-main
                                    | Что входит
                                    br
                                    | в стоимость
                                p.product-cost__text.product-cost__text--left  Мы предлагаем готовый вариант двери с открыванием на себя. Все необходимые элементы и фурнитура уже включены в стоимость.
                                .product-cost__table.product-cost__table--left
                                    .product-cost__table-head
                                        .product-cost__table-title элемент
                                        .product-cost__table-title цена, руб
                                    .product-cost__table-body
                                        .product-cost__table-row
                                            .product-cost__table-text дверное полотно
                                            .product-cost__table-text 600
                                        .product-cost__table-row
                                            .product-cost__table-text коробка
                                            .product-cost__table-text 200
                                        .product-cost__table-row
                                            .product-cost__table-text фурнитура
                                            .product-cost__table-text 655
                                .product-cost__price
                                    .product-cost__price-text цена комплекта
                                    .product-cost__price-number 1685 рублей
                            .col-lg-8

                            .col-lg-4.no-padding-right
                                .product-cost__title Дверное полотно
                                p.product-cost__text.product-cost__table--right Выполнено из переклеенного масива хвойных пород дерева. Алюминиевая кромка защищает края створки от повреждений, подчёркивает геометрию двери.
                                .product-cost__table.product-cost__table--right.product-cost__table--line
                                    .product-cost__table-head
                                        .product-cost__table-title Параметры
                                        .product-cost__table-title мм
                                    .product-cost__table-body
                                        .product-cost__table-row
                                            .product-cost__table-text высота
                                            .product-cost__table-text 2000
                                        .product-cost__table-row
                                            .product-cost__table-text ширина
                                            .product-cost__table-text 600, 700, 800, 900
                                        .product-cost__table-row
                                            .product-cost__table-text толщина
                                            .product-cost__table-text 40
                                .product-cost__title Коробка скрытого монтажа
                                p.product-cost__text.product-cost__text--bottom Аллюминиевая конструкция устанавливается в одной плоскости со стеной без наличника и зашивается листом гипсокартона.
                                .product-cost__table-body
                                    .product-cost__table-row
                                        .product-cost__table-text Ширина
                                        .product-cost__table-text 74 мм

       section.hardware.hardware-invisible
            .hardware__left
                h2.hardware__title Подбирайте фурнитуру к интерьеру
                p.hardware__text Предлагаем дверные ручки, механизмы закрывания и петли от 10 производителей фурнитуры из Италии, Турции и Греции.
                p.hardware__bottom Сделаем врезку под ручки, замки и петли на заводе. Избавим вас от лишнего шума и мусора во время монтажа. Заводская врезка точная и аккуратная. Петли не просядут со временем, ручки не расшатаются
            .hardware__right
                .hardware__slider-wrap
                    .hardware__slider
                        .hardware__slide
                            img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                            .hardware__slide-title Morelli1
                            p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                            a(href="#").hardware__slide-link Посмотреть каталог
                        .hardware__slide
                            img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                            .hardware__slide-title Morellil2
                            p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                            a(href="#").hardware__slide-link Посмотреть каталог
                        .hardware__slide
                            img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                            .hardware__slide-title Morellil3
                            p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                            a(href="#").hardware__slide-link Посмотреть каталог
                        .hardware__slide
                            img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                            .hardware__slide-title Morellil3
                            p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                            a(href="#").hardware__slide-link Посмотреть каталог
                        .hardware__slide
                            img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                            .hardware__slide-title Morellil3
                            p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                            a(href="#").hardware__slide-link Посмотреть каталог
                        .hardware__slide
                            img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                            .hardware__slide-title Morellil3
                            p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                            a(href="#").hardware__slide-link Посмотреть каталог
                        .hardware__slide
                            img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                            .hardware__slide-title Morellil3
                            p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                            a(href="#").hardware__slide-link Посмотреть каталог
                .scrollbar
                    .handle
       section.invisible-door__hidden
            .wrap
                .row
                    .invisible-door__hidden-left
                    .offset-lg-11.lg-5
                        .invisible-door__hidden-right
                            h2.invisible-door__hidden-title Скрытые петли — важная деталь двери-невидимки
                            p.invisible-door__hidden-text Несущие механизмы невидимы с обеих сторон, что подчёркивает лаконичность решения. Регулируются в трёх плоскостях: по глубине с точностью до 1 мм, вертикали — до 2 мм, горизонтали — до 1,5 мм. В результате полотно плотно прилегает к коробке и не расшатывается.
                            .invisible-door__hidden-block
                                img(src="images/invisible-lock.png", alt="")
                                span Входят в стоимость

       section.invisible-door__system
        .wrap
            .row
                .offset-lg-1.col-lg-6.no-padding-right
                    .invisible-door__system-block
                        h2.invisible-door__system-title Система обратного открывания
                        p.invisible-door__system-text Под заказ изготовим дверь скрытого монтажа
                            br
                            | с открыванием от себя. Это позволит учесть дизайнерские решения и при этом
                            br
                            | не нарушить правила
                            br
                            | пожарной безопасности.
                .col-lg-8.no-padding-left
                    .invisible-door__system-img

       section.invisible-door__features
            .wrap
                .row
                    .col-lg-4
                        h2.invisible-door__features-title Особенности монтажа
                        p.invisible-door__features-text Дверь-невидимка устанавливается до чистовой отделки стен. Если вы сейчас делаете ремонт, самое время её заказать. Для успешной установки важно, чтобы стены были ровными. Если пол не настелен, нужно точно знать его уровень.
                    .offset-lg-1.col-lg-4
                        .invisible-door__features-block
                            .invisible-door__features-add.invisible-door__features-add--top
                                .invisible-door__features-circle
                                .invisible-door__features-plus
                                    .invisible-door__features-tooltipe Отклонение стены
                                        br
                                        | от вертикали — не более
                                        br
                                        | 1 мм на метр.
                            .invisible-door__features-add.invisible-door__features-add--bottom
                                .invisible-door__features-circle
                                .invisible-door__features-plus
                                    .invisible-door__features-tooltipe Оптимальная величина зазора между готовым полом и полотном.


       section.invisible-door__comment
            .invisible-door__comment-top мнение дизайнера
            h2.invisible-door__comment-title «Дверь-невидимка может выполнять нестандартные функции. В детской комнате превратите её в доску для рисования мелом, а в гостиной — в зеркало во весь рост. Всё зависит от типа отделки, который вы выберите».
            img(src='images/invisible-door-comment.png', alt='').invisible-door__comment-img
            .invisible-door__comment-name Анастасия,
            span.invisible-door__comment-work дизайнер интерьеров в «Домани»


       section.invisible-door__decoration
        .wrap
           .row
                .invisible-door__decoration-left
                    h2.invisible-door__decoration-title Декорируйте проём на своё усмотрение
                    p.invisible-door__decoration-text Дверь-невидимка сливается со стеной с одной стороны. Если толщина стены больше 9 см, откосы с обратной стороны двери потребуется закрыть. Можно заказать доборы и наличники или выполнить работы самостоятельно.
                    img(src='images/invisible-decoration-door-1.png', alt='')
                    .invisible-door__decoration-comment Снаружи дверь-невидимка полностью сливается со стеной. Констурукция не предусматривает наличников.

                .invisible-door__decoration-right
                    img(src='images/invisible-decoration-door-2.png', alt='')
                    .invisible-door__decoration-comment Внутри дверь скрытого монтажа утопает в проёме. Отделайте его штукатуркой, краской, гипсокартоном, панелями или закажите доборы и наличники.

       section.invisible-door__choose
            .wrap
                .row
                    .col-lg-7
                        h2.invisible-door__choose-title Выбирайте высокие скрытые двери, если хотите визуально расширить пространство.
                        p.invisible-door__choose-text Максимальная высота полотна — 2700 мм, ширина — 1030 мм.
                    .invisible-door__choose-img.invisible-door__choose-img--first

                .row
                    .invisible-door__choose-img.invisible-door__choose-img--second
                    .offset-lg-10.col-lg-6
                        h2.invisible-door__choose-title.invisible-door__choose-title--bottom Используйте нестандартно маленькие конструкции, чтобы замаскировать вход в гардеробную комнату или кладовку.
                        p.invisible-door__choose-text.invisible-door__choose-text--bottom Дверь становится незаметной для посторонних глаз и не выбивается из дизайна интерьера.

       section.invisible-door__defend
            .wrap
                .row
                    .col-lg-5
                        h2.invisible-door__defend-title Выпадающий порог защитит от шума
                            br
                            | и сквозняков
                        p.invisible-door__defend-text Когда дверь закрыта, уплотнитель перекрывает щель между дверью
                            br
                            | и полом. Так система защищает помещение от лишних звуков за дверью и сохраняет тепло. Когда дверь открыта, порог невидим. Он не создаёт преград на полу, не мешает передвижению между комнатами.
                        .threshold__block.invisible-door__threshold__block
                            img( src="images/threshold-2.png", alt="threshold" ).threshold__block-img
                            .threshold__block-text от 53 руб.
                    .invisible-door__defend-img
       section.bonus.invisible-door__bonus
            .container
                .row
                    .bonus__wrap
                        .bonus__block
                            img( src="images/bonus-1.svg", alt="bonus" ).bonus__img
                            .bonus__title
                                span Бесплатный замер
                            .bonus__text  Специалист измерит высоту и ширину проёма, определит его особенности и помогает выбрать правильную сторону открывания двери.
                        .bonus__block
                            img( src="images/bonus-2.svg", alt="bonus" ).bonus__img
                            .bonus__title
                                span Оплата
                            .bonus__text  При заключении договора понадобится предпоплата — 30% от стоимости двери. Остаток вносится до доставки и установки
                        .bonus__block
                            img( src="images/bonus-3.svg", alt="bonus" ).bonus__img
                            .bonus__title
                                span Доставка и установка
                            .bonus__text  Доставляем двери в Минске и за МКАД. Для дверей в дом используем «тёплый монтаж» — утепляем порог и стены вокруг проёма.
                        .bonus__block
                            img( src="images/bonus-4.svg", alt="bonus" ).bonus__img
                            .bonus__title
                                span Гарантия
                            .bonus__text  Действует 2 года на дверь с повреждениями из-за процесса производства, фурнитуру и монтаж наших мастеров.


       section.invisible-door__card
            .wrap
                .row
                    .invisible-door__card-img
                    .offset-lg-10.col-lg-6.no-padding-left
                        .product-variant__block--entrance
                            include components/breadcrumbs
                            h1.product-variant__title Дверь-невидимка РДА10
                            span.product-variant__order
                                span Для дома
                                span Под заказ до 45 рабочих  дней
                                span Хит
                            p.product-variant__description.product-variant__description--entrance Дверь с основанием из оцинкованной стали и атмосферостойким покрытием. Полотно устойчиво к коррозии, а покрытие — к влаге, перепадам температур и солнечным лучам
                            .product-variant__card-description Примеры дверей-невидимок установлены в фирменных салонах на пр-те Дзержинского, 122 и Кальварийской, 7Б, ТЦ «Трюм»

                            .product-variant__card-price
                                h6 цена комплекта
                                span 1685 рублей

                            .product-variant__card-counter
                                .product-variant__card-left количество
                                .product-variant__card-right
                                    .product-variant__card-minus
                                    .product-variant__card-number 1
                                    .product-variant__card-plus
                            .product-variant__card-cost
                                span что входит в стоимость
                            button.product-variant__card-add  добавить к заказу

       section.reviews
            h2.reviews__title Отзывы о дверях и сервисе
            .reviews__container.owl-carousel
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!









    script(src="static/js/jquery-3.3.1.min.js")
    script(src="static/js/jquery.easing.min.js")
    script(src="static/js/sly-slider.js")
    script(src="static/js/jquery-mousewheel.js")
    script(src="static/js/owl.carousel.min.js")
    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")
    block script