include components/head
body
    include components/header-invisible
    main.main-container.product-concept
        section.big-screen.product-concept__jumbo
            .container
                .row
                    .offset-lg-1.col-lg-6
                        .product-variant__card.product-concept__card
                            include components/breadcrumbs
                            h1.product-variant__title Порте Классик Старый Лондон
                            span.product-variant__order
                                span Под заказ до 45 дней
                            p.product-variant__description Концепты — двери с ярким цветом, необычной фрезеровкой и роскошными витражами. Они подчёркивают неординарность экстерьера дома или интерьера квартиры.

                            .product-variant__card-description Материал и фрезеровку двери можно посмотреть в салонах на пр-те Дзержинского, 131 и по улице Кальварийская, 7Б, ТЦ «Трюм»
                            .product-variant__card-price
                                h6 комплектация максимальная
                                span от 1685 рублей
                            button.product-variant__card-add  добавить к заказу

        section.product-concept__outside
            .container
                .row
                    .offset-lg-1.col-lg-5.no-padding-right
                        .product-concept__outside-left
                            .product-concept__outside-sup отделка снаружи
                            h2.product-concept__outside-title SteelLak, &laquo;Чёрно-серый&raquo; с&nbsp;глянцем
                            p.product-concept__outside-text Хаотичные линии и&nbsp;выверенные пропорции обеспечивают эстетическую привлекательность модели. Игра плоских и&nbsp;объёмных квадратов придаёт фрезеровке глубину, оживляет интерьер.
                            p.product-concept__outside-text Дверь отлично впишется в&nbsp;современный интерьер, в&nbsp;котором преобладают акценты на&nbsp;геометрических деталях оформления.
                    .offset-lg-3.col-lg-5
                        .product-concept__outside-right
                            img(src='images/concept-outside.jpg', alt='').product-concept__outside-img

        section.action-block
            .container
                .row
                    include components/action

        section.entrance-variant
            .wrap
                .row
                    .col-lg-4
                        h2.entrance-variant__title Варианты <br /> комплектации <br /> выбранной двери
                        p.entrance-variant__text Комплектация двери влияет <br /> на технические характеристики: <br /> толщину металла, утепление полотна, <br /> уровень защиты от шума, холодного <br /> воздуха и посторонних запахов.
                        ul.entrance-variant__tabs
                            li.entrance-variant__tabs-item.active(data-variant-entrance="1") Базовая — от 500 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="2") Оптимальная — от 800 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="3") Усиленная — от 1 320 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="4") Максимальная — от 2 300 руб.
                        a(href="#").entrance-variant__link отличия комплектаций
                    .offset-lg-2.col-lg-5
                        img(src='images/concept-2.png', alt='').entrance-variant__img
                    .offset-lg-1.col-lg-3
                        .entrance-variant__blocks(data-variant-entrance-block="1")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="2")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="3")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="4")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.


        section.product-concept__descr
            .container
                .row.product-concept__descr-top
                    .product-concept__descr-left
                        img(src='images/concept-descr-1.jpg', alt='').product-concept__descr-img
                        p.product-concept__descr-text Элегантная ручка Armadillo SQUID придаёт внешнему виду двери особый шарм
                    .offset-lg-10.col-lg-6
                        .product-concept__descr-right
                            img(src='images/concept-descr-2.png', alt='').product-concept__descr-img
                            p.product-concept__descr-text Цвет &laquo;Бронза&raquo; идеально сочетается с&nbsp;оттенком отделки

                .row
                    .col-lg-12
                        img(src='images/concept-descr-3.png', alt='').product-concept__descr-img
                    .col-lg-4
                        .product-concept__descr-bottom
                            p.product-concept__descr-text Геометрическая ферезовка вносит в&nbsp;пространство аккуратность и&nbsp;порядок


        section.measurement.measurement--concept
            .container.measurement__background
                .row
                    .col-lg-4
                        h2.measurement__title Завод бесплатно может ускорить производство входной двери
                    .measurement__center
                        p.measurement__descr Некоторые модели производим, доставляем и устанавливаем быстрее — за 15 рабочих дней. Оставьте номер телефона, чтобы узнать можно ли оформить экспресс-заказ для этой модели.
                        .measurement__input
                            input(type="tel", placeholder="+ 375 29 161 30 33")
                            button(type="submit").measurement__submit
                    .offset-lg-1.col-lg-3
                        .measurement__block
                            img(src="images/measurement-2.png", alt="manager").measurement__img
                    .col-lg-2
                        .measurement__right
                            .measurement__name Анастасия,
                            .measurement__position менеджер
                                br
                                | по продажам


        section.product-concept__handle
            .container
                .row
                    .col-lg-8.product-concept__handle-left
                        img(src='images/concept-handle-1.jpg', alt='').product-concept__handle-img
                        p.product-concept__handle-text Фурнитура в&nbsp;цвете бронза сочетается и&nbsp;со&nbsp;светлой внутренней отделкой двери
                    .offset-lg-1.col-lg-7.product-concept__handle-right
                        h2.product-concept__handle-title Ручка Armadillo
                        p.product-concept__handle-descr Выполнена из&nbsp;латуни, цинка и&nbsp;меди, что обеспечивает механическую долговечность и&nbsp;прочность изделия. Ручка имеет плавный нажим и&nbsp;удобна в&nbsp;использовании. Утончённая форма изделия сочетается с&nbsp;хаотичными линиями фрезеровки и&nbsp;подчёркивает современный стиль двери.
                        img(src='images/concept-handle-2.jpg', alt='').product-concept__handle-img
                        p.product-concept__handle-text Накладка на&nbsp;сувальдный замок закрывает скважину ключа в&nbsp;полотне двери


        section.product-concept__broadsheet
            .container.product-concept__broadsheet-control
                .row
                    .no-padding-right
                        .product-concept__broadsheet-block
                            .product-concept__broadsheet-left
                                h2.product-concept__broadsheet-title Итальянские замки Mottura
                                p.product-concept__broadsheet-text Замок защищён от высверливания благодаря твёрдому сплаву хвостовика.
                            .product-concept__broadsheet-right
                                h4.product-concept__broadsheet-sub Броненакладка Crit
                                p.product-concept__broadsheet-text Защищает цилиндр замка от&nbsp;высверливания, вырывания и&nbsp;выбивания благодаря трём усиливающим вставкам.


        section.product-concept__descr
            .container
                .row.product-concept__descr-top
                    .product-concept__descr-left
                        img(src='images/concept-descr-4.png', alt='').product-concept__descr-img
                        p.product-concept__descr-text Нержавеющий порог устойчив к&nbsp;механическим воздействиям: сколам, царапинам и&nbsp;стирани.
                    .offset-lg-10.col-lg-6
                        .product-concept__descr-right
                            img(src='images/concept-descr-5.png', alt='').product-concept__descr-img
                            p.product-concept__descr-text Противосъёмные ригели защищают от&nbsp;вскрытия двери при срезании петель

                .row
                    .col-lg-12
                        img(src='images/concept-descr-6.png', alt='').product-concept__descr-img
                    .col-lg-4
                        .product-concept__descr-bottom
                            p.product-concept__descr-text Только прикоснувшись к&nbsp;двери, вы&nbsp;почувствуете разницу в&nbsp;покрытиях, легко откроете изделие весом в&nbsp;100&nbsp;кг и&nbsp;убедитесь в&nbsp;плавной работе замков

        section.product-concept__handle
            .container
                .row
                    .col-lg-8.product-concept__handle-left
                        img(src='images/concept-handle-3.png', alt='').product-concept__handle-img
                        p.product-concept__handle-text Фурнитура в&nbsp;цвете бронза сочетается и&nbsp;со&nbsp;светлой внутренней отделкой двери
                    .offset-lg-1.col-lg-7.product-concept__handle-right
                        h2.product-concept__handle-title Ручка Armadillo
                        p.product-concept__handle-descr Выполнена из&nbsp;латуни, цинка и&nbsp;меди, что обеспечивает механическую долговечность и&nbsp;прочность изделия. Ручка имеет плавный нажим и&nbsp;удобна в&nbsp;использовании. Утончённая форма изделия сочетается с&nbsp;хаотичными линиями фрезеровки и&nbsp;подчёркивает современный стиль двери.
                        img(src='images/concept-handle-4.png', alt='').product-concept__handle-img
                        p.product-concept__handle-text Накладка на&nbsp;сувальдный замок закрывает скважину ключа в&nbsp;полотне двери

