include utils/mixins

include components/head
body
    include components/header
    main.main-container.entrance-card
        section.product-variant.product-variant--bg
            .container
                .row
                    .offset-lg-1.col-lg-7
                        .product-variant__img--entrance
                            img(src="images/entrance-variant-2.png", alt="door")
                            .product-variant__img--disc Снаружи Муар, Серый графит
                            img(src="images/refresh.svg", alt="refresh").product-variant__img--refresh
                    .offset-lg-1.col-lg-6
                        .product-variant__block--entrance.col-lg-16
                            include components/breadcrumbs
                            h1.product-variant__title Термо Максима W96
                            span.product-variant__order
                                span Для дома
                                span Под заказ до 45 рабочих  дней
                                span Хит
                            p.product-variant__description.product-variant__description--entrance Дверь с основанием из оцинкованной стали и атмосферостойким покрытием. Полотно устойчиво к коррозии, а покрытие — к влаге, перепадам температур и солнечным лучам
                            .product-variant__colors-title варианты исполнения
                            .catalog-item__colors
                                .catalog-item__color(data-color='black').catalog-item__color--active.catalog-item__color--black
                                .catalog-item__color(data-color='red').catalog-item__color--grey
                                .catalog-item__color(data-color='red').catalog-item__color--grey
                                .catalog-item__color(data-color='red').catalog-item__color--grey
                                .catalog-item__color(data-color='white').catalog-item__color--brown
                                .catalog-item__color(data-color='white').catalog-item__color--brown
                                .catalog-item__color(data-color='white').catalog-item__color--brown
                                .catalog-item__color(data-color='white').catalog-item__color--brown
                                .catalog-item__color(data-color='white').catalog-item__color--multicolor.catalog-item__color--entrance

                            .product-variant__card-counter.product-variant__card-counter--border
                                .product-variant__card-left комплектация максимальная

                            .product-variant__card-price.product-variant__card-price--entrance
                                span.product-variant__card-price--inner от 1685 рублей

                            button.product-variant__card-add  Добавить к заказу
                        .product-variant__see
                            h2.product-variant__see-title Посмотрите в салоне
                            small.product-variant__see-text Модель установлена в салоне на Кальварийской 7Б в ТЦ «Трюм»‎
        .container
            .row
                .action
                    .action__left
                        h2.action__title Купите дверь и выиграйте путешествие в Италию
                        a(href="#").action__link узнать условия
                    .action__right
                        p.action__text Акция действует с 13 мая по 14 июня включительно. Выбрать можно любую дверь из каталога на сайте. Розыгрыш призов состоится 19 июня в 15:00 с помощью закрытого лототрона.
                    .action__img
        section.miniature
            .container
                .row
                    .miniature__left
                        img(src="images/miniature-for-home-1.png", alt="door")
                        span.miniature__left-text.miniature__left-text--right Дверь полностью соответствует представлению о класицизме в дизайне. Подтверждает
                            br
                            | это традиционная фрезеровка и фурнитура, декоративный портал и кованная решётка
                    .miniature__right.offset-lg-10.col-lg-6
                        img(src="images/miniature-for-home-2.png", alt="door")
                        span Изумрудный цвет отделки придаёт консервативной
                            br
                            | классике акцент современных трендов

        section.complex
            .container
                .row
                    .complex__wrap
                        .complex__left
                            h2.complex__title Комплексная защита от промерзания
                            p.complex__text Устойчивость входной двери к перепадам температур и влажности зависит <br /> от её конструкции и качества монтажа.
                            p.complex__text Порошково-полимерное покрытие в 7 слоёв и 3-х уровневая антикоррозийная обработка защищает от коррозии <br /> и отслаивания.
                            p.complex__text Термовлагостойкий МДФ заламинирован со всех четырёх сторон. Так панель <br /> на 100% защищена от попадания влаги внутрь двери.
                            p.complex__text Полотно и коробка утеплены в несколько слоёв по контуру двери, поэтому попадание влаги внутрь исключено.

                        .complex__middle
                            img(src="images/complex-1.svg", alt="door")

                        .complex__right
                            h3 Терморазрыв дверного <br /> полотна и коробки
                            p.complex__text Утеплители по рёбрам жёсткости и двум частям коробки отделяют металлические элементы двери — «мостики холода» <br /> от наружней стороны. Так, если место монтажа выбрано правильно, дверь <br /> не промёрзнет при температуре до -30 С.
                            p.complex__text-description Терморазрыв коробки не доступен для базовой и оптимальной комплектации
                            p.complex__text-description + 119 рублей к усиленной
                            p.complex__text-description + 173 рублей к максимальной
                            h3.complex__right-title «Тёплый монтаж»
                            p.complex__text Утепления откосов, монтажных швов <br /> и разрыва стяжки на полу исключает продувание двери и возникновение конденсата из-за резкого охлаждения.
                            p.complex__text-description + 30 рублей к любой комплектации


        section.exterior
            .container
                .row
                    .exterior__wrap.offset-lg-3.col-lg-13
                        .exterior__left
                            h2.exterior__title Экстерьер дома <br /> с витражами
                            p.exterior__text Игра оттенков и форм расставит акценты в экстерьере и создаст неповторимую атмосферу дома.
                        .exterior__middle
                            p.exterior__title-small Создавайте свой рисунок
                            p.exterior__text Выбирайте разные комбинации матовых стекол, фацета и цветов, чтобы создать индивидуальный рисунок витража для идеального экстерьера и интерьера вашего дома.
                        .exterior__right
                            figure.exterior__miniature
                                img(src="images/exterior-1.svg", alt="door")
                                figcaption.exterior__miniature-caption a
                            figure.exterior__miniature
                                img(src="images/exterior-2.svg", alt="door")
                                figcaption.exterior__miniature-caption б
                            figure.exterior__miniature
                                img(src="images/exterior-3.svg", alt="door")
                                figcaption.exterior__miniature-caption в

        section.decoration
            .wrap
                .row
                    .col-lg-8
                        figure.decoration__img--big
                            img(src="images/decoration-big.png", alt="door")
                            figcaption
                                .decoration__img-descr
                                    | 3-х камерный
                                    strong стеклопакет и кованная решётка
                                    | придают двери благородный вид
                    .offset-lg-1.col-lg-7
                        h2.decoration__title Декоративное оформление
                        p.decoration__text Входная дверь не просто отличается изысканным оттенком наружней отделки и благородством фурнитуры, но и привлекает внимание деталями. Чтобы создать яркий элемент для экстерьера дома, дверь дополнили порталом с многослойной филёнкой и решёткой с золотистой патиной.
                        figure.decoration__img--big
                            img(src="images/decoration-small.png", alt="door")
                            figcaption
                                .decoration__img-descr
                                    strong Портал
                                    | выгодно подчёркивает
                                    | классический дизайн входной двери

        section.install
            p.install__title Куда устанавливать дверь
            .install__wrap
                .install__block(data-install='1')
                    .install__block-hidden(style='background-image: url("images/install-1.jpg")')
                        .install__block-hidden__number 01
                        .install__block-hidden__title Лучше место для установки — <br/> из вентилируемого тамбура в дом
                        .install__block-hidden__descr Так входная дверь будет защищена <br/> от агрессивных атмосферных <br/> факторов: дождя, снега, ветра, <br/> прямых солнечных лучей.
                    .install__block-wrap
                        .install__block-number 01
                        .install__block-descr Оптимально: <br/> из неотапливаемого тамбура в дом

                .install__block(data-install='2')
                    .install__block-hidden(style='background-image: url("images/install-2.jpg")')
                        .install__block-hidden__number 02
                        .install__block-hidden__title Допустимое место <br/> для установки — <br/> с улицы в тамбур
                        .install__block-hidden__descr На входе из тамбура в дом необходима ещё одна дверь. Тамбур должен быть вентилируемым: это снизит вероятность выпадения конденсата на поверхности изделия. Для лучшей теплозащиты необходим терморазрыв по коробке.
                    .install__block-wrap
                        .install__block-number 02
                        .install__block-descr Допустимо: <br/>  с улицы на вход в тамбур

                .install__block(data-install='3')
                    .install__block-hidden(style='background-image: url("images/install-3.jpg")')
                        .install__block-hidden__number 03
                        .install__block-hidden__title Возможное место <br/> для установки — <br/> улицы в дом
                        .install__block-hidden__descr Обязательно обустройте козырёк для защиты замков и петель от высыхания смазки, а декоративные панели двери от попадания солнечного света, снега и дождя. Рекомендуется установка терморазрыва полотна и коробки.
                    .install__block-wrap
                        .install__block-number 03
                        .install__block-descr Возможно: <br/> монтаж на вход с улицы в дом


        section.measurement
            .container.measurement__background
                .row
                    .col-lg-5
                        h2.measurement__title Бесплатный замер дверного проёма
                    .col-lg-5.no-padding
                        p.measurement__descr Замер от нашего специалиста — гарантия того, что дверь подойдёт идеально. Замерщик учтёт все нюансы, важные для дальнейших этапов.
                        .measurement__input
                            input(type="tel", placeholder="+ 375 29 161 30 33")
                            button(type="submit").measurement__submit
                    .offset-lg-1.col-lg-3
                        .measurement__block
                            img(src="images/measurement-1.png", alt="manager").measurement__img
                    .col-lg-2
                        .measurement__right
                            .measurement__name Анастасия,
                            .measurement__position менеджер
                                br
                                | по продажам

        section.entrance-variant
            .wrap
                .row
                    .col-lg-5
                        h2.entrance-variant__title Варианты <br /> комплектации <br /> выбранной двери
                        p.entrance-variant__text Комплектация двери влияет <br /> на технические характеристики: <br /> толщину металла, утепление полотна, <br /> уровень защиты от шума, холодного <br /> воздуха и посторонних запахов.
                        ul.entrance-variant__tabs
                            li.entrance-variant__tabs-item.active(data-variant-entrance="1") Базовая — от 500 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="2") Оптимальная — от 800 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="3") Максимальная — от 2 300 руб.
                        a(href="#").entrance-variant__link отличия комплектаций
                    .col-lg-6
                        img(src='images/entrance-door-1.png', alt='').entrance-variant__img
                    .offset-lg-1.col-3
                        .entrance-variant__blocks(data-variant-entrance-block="1")
                            .entrance-variant__block.entrance-variant__block--top 6 слоёв многослойного утепления исключают <br /> в двери «мостики холода». Контрукция не промерзает при низкой температуре, <br /> не пропускает шум с улицы.
                            .entrance-variant__block.entrance-variant__block--middle Комбинацию стёкол, кромки и цвет витража можно менять, чтобы создать индивидуальный рисунок.
                            .entrance-variant__block.entrance-variant__block--bottom В уязвимые места двери: пороге, стыках и углах — наносят дополнительные слои антикоррозийной обработки стали.
                        .entrance-variant__blocks(data-variant-entrance-block="2")
                            .entrance-variant__block.entrance-variant__block--top 8 слоёв многослойного утепления исключают <br /> в двери «мостики холода». Контрукция не промерзает при низкой температуре, <br /> не пропускает шум с улицы.
                            .entrance-variant__block.entrance-variant__block--middle Комбинацию стёкол, кромки и цвет витража можно менять, чтобы создать индивидуальный рисунок.
                            .entrance-variant__block.entrance-variant__block--bottom В уязвимые места двери: пороге, стыках и углах — наносят дополнительные слои антикоррозийной обработки стали.
                        .entrance-variant__blocks(data-variant-entrance-block="3")
                            .entrance-variant__block.entrance-variant__block--top 10 слоёв многослойного утепления исключают <br /> в двери «мостики холода». Контрукция не промерзает при низкой температуре, <br /> не пропускает шум с улицы.
                            .entrance-variant__block.entrance-variant__block--middle Комбинацию стёкол, кромки и цвет витража можно менять, чтобы создать индивидуальный рисунок.
                            .entrance-variant__block.entrance-variant__block--bottom В уязвимые места двери: пороге, стыках и углах — наносят дополнительные слои антикоррозийной обработки стали.


        section.bivalve-size
            .wrap
                .row
                    .col-lg-10
                        img(src="images/bivalve-size-bg.png", alt="door").bivalve-size__img
                    .offset-lg-1.col-lg-5
                        h2.bivalve-size__title Двупольные двери  по индивидуальным размерам
                        p.bivalve-size__text Нестандартный размер проёма — возможность подчеркнуть статусность дома и найти интересное решение среди моделей с боковыми доборами и фрамугами.
                        figure.bivalve-size__figure
                            img(src="images/bivalve-size-img.svg", alt="door").bivalve-size__figure-img
                            figcaption.bivalve-size__figure-descr Формы, размеры доборов и фрамуг меняются в зависимости от параметров проёма.

        section.entrance-choose
            .wrap
                .row
                    .col-lg-5
                        .entrance-choose__wrap
                            h2.entrance-choose__title Выбирайте цвет <br /> и материал, который <br /> вам нравится
                            ul.entrance-choose__tabs
                                li.entrance-choose__tabs-item.active(data-choose-entrance-tab='1')
                                    .entrance-choose__tabs-name SteelLak
                                    p.entrance-choose__tabs-descr Покрытие сохраняет первоначальный внешний вид десятки лет. При уходе не требует специальных чистящих средств
                                li.entrance-choose__tabs-item(data-choose-entrance-tab='2')
                                    .entrance-choose__tabs-name OAK-панели
                                    p.entrance-choose__tabs-descr Покрытие сохраняет первоначальный внешний вид десятки лет. При уходе не требует специальных чистящих средств
                    .offset-lg-1.col-lg-10
                        .entrance-choose-tabs(data-choose-entrance-block='1')
                            .entrance-choose__material.entrance-choose__material--top
                                .entrance-choose__material-item.entrance-choose__material-item--small

                                    .entrance-choose__material-name PVC
                                    img(src='images/entrance-choose-1.png', alt='').entrance-choose__material-img
                                    .entrance-choose__material-model «Дуб грей»

                                .entrance-choose__material-item.entrance-choose__material-item--medium
                                    .entrance-choose__material-name PVC
                                    img(src='images/entrance-choose-2.png', alt='').entrance-choose__material-img
                                    .entrance-choose__material-model «Дуб миндальный»

                            .entrance-choose__material.entrance-choose__material--bottom

                                .entrance-choose__material-item.entrance-choose__material-item--medium
                                    .entrance-choose__material-name PVC
                                    img(src='images/entrance-choose-2.png', alt='').entrance-choose__material-img
                                    .entrance-choose__material-model «Дуб миндальный»

                                .entrance-choose__block
                                    h3.entrance-choose__block-title Оценивайте материал вживую
                                    p.entrance-choose__block-text Цвет на мониторе <br /> может отличаться <br /> от реального оттенка. <br /> Мы советуем приехать <br /> в салон, чтобы выбрать материал и цвет двери.

                        .entrance-choose-tabs(data-choose-entrance-block='2')
                            .entrance-choose__material.entrance-choose__material--top
                                .entrance-choose__material-item.entrance-choose__material-item--small

                                    .entrance-choose__material-name PVC2
                                    img(src='images/entrance-choose-1.png', alt='').entrance-choose__material-img
                                    .entrance-choose__material-model «Дуб грей»

                                .entrance-choose__material-item.entrance-choose__material-item--medium
                                    .entrance-choose__material-name PVC
                                    img(src='images/entrance-choose-2.png', alt='').entrance-choose__material-img
                                    .entrance-choose__material-model «Дуб миндальный»

                            .entrance-choose__material.entrance-choose__material--bottom

                                .entrance-choose__material-item.entrance-choose__material-item--medium
                                    .entrance-choose__material-name PVC
                                    img(src='images/entrance-choose-2.png', alt='').entrance-choose__material-img
                                    .entrance-choose__material-model «Дуб миндальный»

                                .entrance-choose__block
                                    h3.entrance-choose__block-title Оценивайте материал вживую
                                    p.entrance-choose__block-text Цвет на мониторе <br /> может отличаться <br /> от реального оттенка. <br /> Мы советуем приехать <br /> в салон, чтобы выбрать материал и цвет двери.

        section.pick-accessories
            h2.pick-accessories__title Подбирайте фурнитуру к цвету отделки и интерьеру
            ul.pick-accessories__list
                li.pick-accessories__item «бронза»
                li.pick-accessories__item «хром»
                li.pick-accessories__item «золото»
                li.pick-accessories__item «сатин»
            .pick-accessories__tabs
                .pick-accessories__tabs-item
                    .pick-accessories__static
                        img(src='images/pick-3.png', alt='').pick-accessories__static-img
                        p.pick-accessories__static-text Броненакладка и накладка на замки входят в комплект и подбираются под цвет ручек. Предотвращают взлом входной двери механическим способом
                    .pick-accessories__right
                        .pick-accessories__slider-wrap
                            .pick-accessories__slider
                                .pick-accessories__slider-item
                                    .pick-accessories__slider-img
                                        img(src='images/pick-1.png', alt='')
                                    .pick-accessories__slider-name Ручка Armadillo Pava
                                    ul.pick-accessories__slider-list
                                        li.pick-accessories__slider-descr Входит в максимальную комплектацию
                                        li.pick-accessories__slider-descr + 35 рублей к базовой или оптимальной компектации
                                        li.pick-accessories__slider-descr + 45 рублей к усиленной комплектации
                                .pick-accessories__slider-item
                                    .pick-accessories__slider-img
                                        img(src='images/pick-2.png', alt='')
                                    .pick-accessories__slider-name Ручка Armadillo Pava
                                    ul.pick-accessories__slider-list
                                        li.pick-accessories__slider-descr Входит в максимальную комплектацию
                                        li.pick-accessories__slider-descr + 35 рублей к базовой или оптимальной компектации
                                        li.pick-accessories__slider-descr + 45 рублей к усиленной комплектации

                                .pick-accessories__slider-item
                                    .pick-accessories__slider-img
                                        img(src='images/pick-2.png', alt='')
                                    .pick-accessories__slider-name Ручка Armadillo Pava
                                    ul.pick-accessories__slider-list
                                        li.pick-accessories__slider-descr Входит в максимальную комплектацию
                                        li.pick-accessories__slider-descr + 35 рублей к базовой или оптимальной компектации
                                        li.pick-accessories__slider-descr + 45 рублей к усиленной комплектации

                                .pick-accessories__slider-item
                                    .pick-accessories__slider-img
                                        img(src='images/pick-2.png', alt='')
                                    .pick-accessories__slider-name Ручка Armadillo Pava
                                    ul.pick-accessories__slider-list
                                        li.pick-accessories__slider-descr Входит в максимальную комплектацию
                                        li.pick-accessories__slider-descr + 35 рублей к базовой или оптимальной компектации
                                        li.pick-accessories__slider-descr + 45 рублей к усиленной комплектации
                        .scrollbar
                             .handle
        section.strengthen-protection-overflow
            .strengthen-protection#pinContainer
                .strengthen-protection__slider-wrap
                    .strengthen-protection__slider#slideContainer
                        section.strengthen-protection__left.first
                            .container
                                .row
                                    .strengthen-protection__wrap
                                        h2.strengthen-protection__title Усиливайте защиту двери с помощью замков
                                        .strengthen-protection__left-wrap
                                            ul.strengthen-protection__list
                                                li.strengthen-protection__list-item.active(data-strengthen-tabs='1') Optima
                                                li.strengthen-protection__list-item(data-strengthen-tabs='2') Optima Plus
                                                li.strengthen-protection__list-item Profi 1
                                                li.strengthen-protection__list-item Profi 2
                                                li.strengthen-protection__list-item Profi 2D
                                                li.strengthen-protection__list-item Premium
                                                li.strengthen-protection__list-item Premium Plus
                                                li.strengthen-protection__list-item Brilliant Plus
                                            .strengthen-protection__info.active(data-strengthen-protection='1')
                                                .strengthen-protection__info-img
                                                    img(src='images/protect-1.png', alt='')
                                                .strengthen-protection__info-descr
                                                    .strengthen-protection__info-wrap
                                                        .strengthen-protection__info-left
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title Верхний замок
                                                                .strengthen-protection__block-name Kale 257L
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title нижний замок
                                                                .strengthen-protection__block-name Kale 252R
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title цилиндр
                                                                .strengthen-protection__block-name Kale
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title Производство
                                                                .strengthen-protection__block-name Турция

                                                        .strengthen-protection__info-right
                                                            .strengthen-protection__info-complect Комплект из сувальдного и цилиндрового замков. Соответствуют 3-му и 4-му, высшему, классу безопасности. Защищены <br /> от высверливания, фрезерования и вбивания ригелей внутрь. Благодаря приводу ручки <br /> с подшипником, замки работают плавно и мягко.

                                                    .strengthen-protection__info-tips Устанавливаем в двери оптимальной, усиленной и максимальной комплектации.
                                                    ul.strengthen-protection__deal
                                                        li.strengthen-protection__deal-item + 55 рублей к оптимальной и усиленной комплектации
                                                        li.strengthen-protection__deal-item + 35 рублей к стоимости максимальной комплектации

                                            .strengthen-protection__info(data-strengthen-protection='2')
                                                .strengthen-protection__info-img
                                                    img(src='images/protect-1.png', alt='')
                                                .strengthen-protection__info-descr
                                                    .strengthen-protection__info-wrap
                                                        .strengthen-protection__info-left
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title Верхний замок2
                                                                .strengthen-protection__block-name Kale 257L
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title нижний замок
                                                                .strengthen-protection__block-name Kale 252R
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title цилиндр
                                                                .strengthen-protection__block-name Kale
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title Производство
                                                                .strengthen-protection__block-name Турция

                                                        .strengthen-protection__info-right
                                                            .strengthen-protection__info-complect Комплект из сувальдного и цилиндрового замков. Соответствуют 3-му и 4-му, высшему, классу безопасности. Защищены <br /> от высверливания, фрезерования и вбивания ригелей внутрь. Благодаря приводу ручки <br /> с подшипником, замки работают плавно и мягко.

                                                    .strengthen-protection__info-tips Устанавливаем в двери оптимальной, усиленной и максимальной комплектации.
                                                    ul.strengthen-protection__deal
                                                        li.strengthen-protection__deal-item + 55 рублей к оптимальной и усиленной комплектации
                                                        li.strengthen-protection__deal-item + 35 рублей к стоимости максимальной комплектации


                        section.strengthen-protection__second
                            .strengthen-protection__second-block.strengthen-protection__second-block--first
                                h2.strengthen-protection__second-title Новый уровень безопасности вашего дома
                                p.strengthen-protection__second-text В&nbsp;любые замки устанавливаем усиленный цилиндр Abus. Штифты из&nbsp;калённой стали и&nbsp;защитная пластина не&nbsp;дают высверлить серцевину замка. Пины образуют 100&nbsp;000 секретных кодов, поэтому открыть замок отмычкой практически невозможно.
                                p.strengthen-protection__second-text С Abus комфортно: разные замки с такими цилиндрами может открывать один ключ
                                .strengthen-protection__second-made
                                    img(src='images/german.svg', alt='Сделано в Германии')
                                    span Сделано <br /> в Германии

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-1.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-2.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-3.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-4.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-5.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-6.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-7.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей




        section.bonus
            .container
                .row
                    .bonus__wrap
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-1.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Бесплатный замер
                                .bonus__text  Специалист измерит высоту и ширину проёма, определит его особенности и помогает выбрать правильную сторону открывания двери.
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-2.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Оплата
                                .bonus__text  При заключении договора понадобится предпоплата — 30% от стоимости двери. Остаток вносится до доставки и установки
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-3.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Доставка и установка
                                .bonus__text  Доставляем двери в Минске и за МКАД. Для дверей в дом используем «тёплый монтаж» — утепляем порог и стены вокруг проёма.
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-4.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Гарантия
                                .bonus__text  Действует 2 года на дверь с повреждениями из-за процесса производства, фурнитуру и монтаж наших мастеров.

        section.create
            .wrap
                .row
                    .col-lg-7
                        .create__left
                            img( src="images/create-big-2.jpg", alt="bonus", data-create-src='1' ).create__left-gallery.create__gallery
                            img( src="images/create-2.svg", alt="bonus", data-create-src='2' ).create__left-img
                            .create__left-descr
                                strong Доборы
                                | помогают скрыть зазоры между стеной и дверной <br /> коробкой. Мастера подбирают их под цвет и фактуру двери.
                    .offset-lg-2.col-lg-6
                        .create__right
                            h2.create__right-title Создавайте <br /> завершённый образ <br /> входной двери
                            p.create__right-text Внутри — с помощью доборов, снаружи — наличников и порталов.
                            p.create__right-text.create__right-text--last Рассчитываем стоимость <br /> и устанавливаем элементы после монтажа входной двери.
                            .create__right-img
                                img( src="images/create-big-1.jpg", alt="bonus" ).create__right-gallery.create__gallery
                                img( src="images/create-4.svg", alt="bonus" )
                                .create__left-descr
                                    strong Наличники и порталы
                                    | обрамляют верхнюю и боковые части. Дополняют экстерьер квартиры или дома в классическом стиле.





        section.change-modern
            .wrap
                .row
                    .col-lg-7
                        .change-modern__left
                            h2.change-modern__left-title Меняйте современный дизайн двери на&nbsp;классический с&nbsp;помощью рамок и&nbsp;витражей.
                            .change-modern__miniature
                                .change-modern__miniature-top Декоративная рамка С-К
                                img(src='images/modern-1.jpg', alt='').change-modern__miniature-img
                                .change-modern__miniature-bottom + 642 рубля
                            .change-modern__snippet
                                .change-modern__door
                                    .change-modern__door-name Без окна
                                    img(src='images/modern-left-1.png', alt='').change-modern__door-img
                                    .change-modern__door-bonus + 642 рубля
                                .change-modern__door
                                    .change-modern__door-name С окно С–К
                                    img(src='images/modern-left-2.png', alt='').change-modern__door-img
                                    .change-modern__door-bonus + 1172 рубля
                                .change-modern__door
                                    .change-modern__door-name С витражом
                                    img(src='images/modern-left-3.png', alt='').change-modern__door-img
                                    .change-modern__door-bonus + 642 рубля
                    .offset-lg-2.col-lg-7
                        .change-modern__right
                            .change-modern__miniature
                                .change-modern__miniature-top Декоративная рамка В-К
                                img(src='images/modern-2.jpg', alt='').change-modern__miniature-img
                                .change-modern__miniature-bottom + 642 рубля
                            .change-modern__snippet
                                .change-modern__door
                                    .change-modern__door-name Без окна
                                    img(src='images/modern-right-1.png', alt='').change-modern__door-img
                                    .change-modern__door-bonus + 642 рубля
                                .change-modern__door
                                    .change-modern__door-name С окном Б–К
                                    img(src='images/modern-right-2.png', alt='').change-modern__door-img
                                    .change-modern__door-bonus + 1172 рубля
                                .change-modern__door
                                    .change-modern__door-name С витражом
                                    img(src='images/modern-right-3.png', alt='').change-modern__door-img
                                    .change-modern__door-bonus + 642 рубля
                            h2.change-modern__left-title Традиционные рамки придают фасаду и интерьеру классические мотивы.


        section.reliable-fittings
            h2.reliable-fittings__title Надёжная фурнитура с защитой от влаги и мороза
            .wrap
                .row.reliable-fittings__top
                    .col-lg-11
                        img(src='images/reliable-1.jpg', alt='').reliable-fittings__img
                    .offset-lg-1.col-lg-4
                        .reliable-fittings__block
                            .reliable-fittings__block-title Ручка Hoppe NY
                            .reliable-fittings__block-sub Входит в среднюю комплектацию
                            p.reliable-fittings__block-text.reliable-fittings__block-text--first Ручка в цвете «Матовый хром». Изготовлена из алюминия.  Благодаря специальному покрытию Resista ручка долго служит, не ржавеет и не окисляется из-за влаги.
                            .reliable-fittings__block-title Немецкий замок Siegenia с&nbsp;цилиндром Kale
                            .reliable-fittings__block-sub Входит в среднюю комплектацию
                            p.reliable-fittings__block-text.reliable-fittings__block-text--first По всей высоте полотна установлены четыре усиленные зажима-цапфы. Они обеспечивают оптимальное затяжное усилие для закрывания двери. Корпус цилиндра защищён от взламывания и выбивания.
                            p.reliable-fittings__block-text Дополнительно можно установить второй замок Maco с цилиндром Kale.

                .row
                    .col-lg-5
                        .reliable-fittings__miniature
                            img(src='images/reliable-0.png', alt='').reliable-fittings__miniature-img.reliable-fittings__miniature-img--first
                            h3.reliable-fittings__miniature-title Австрийский замок Maco с цилиндром Securemme
                            .reliable-fittings__miniature-sub Входит в максимальную комплектацию
                            p.reliable-fittings__miniature-descr При закрывании замка «крюки-штыри» входят в отверстия ответной планки короба и вместе с ригелями цилиндра защищают от механического взлома.
                    .offset-lg-1.col-lg-4
                        .reliable-fittings__miniature
                            img(src='images/reliable-2.png', alt='').reliable-fittings__miniature-img
                            h3.reliable-fittings__miniature-title Ручка GreenteQ
                            .reliable-fittings__miniature-sub Входит в максимальную комплектацию
                            p.reliable-fittings__miniature-descr Изготовлена из нержавеющей стали. Устойчива при частых и сильных нагрузках. Сплошная стальная накладка шириной 35 мм препятствует высверливанию цилиндра.
                    .offset-lg-1.col-lg-5
                        .reliable-fittings__miniature
                            img(src='images/reliable-3.png', alt='').reliable-fittings__miniature-img
                            h3.reliable-fittings__miniature-title Ручка-рейлинг
                            .reliable-fittings__miniature-sub + 90 рублей к оптимальной комплектации
                            p.reliable-fittings__miniature-descr Ручку устанавливают снаружи, а внутри остаётся нажимная ручка GreenteQ. Защёлка «день-ночь» на ручке-рейлинг позволяет открывать незапертую дверь без ключа.



        .create-modal
            .create-modal__close
                include ../static/images/extras-close.svg
            .create-modal__wrap
                img(src='', alt='')


    script(src="static/js/jquery-3.3.1.min.js", defer)
    script(src="static/js/jquery.easing.min.js", defer)

    script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.velocity.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineMax.min.js')

    script(src="static/js/sly-slider.js", defer)
    script(src="static/js/product-entrance.js", defer)