include components/head
body
    include components/header-invisible
    main.main-container
        section.big-screen.product-concept__jumbo
            .container
                .row
                    .offset-lg-1.col-lg-6.no-padding
                        .product-variant__card.product-concept__card
                            include components/breadcrumbs
                            h1.product-variant__title Порте Классик Старый Лондон
                            span.product-variant__order
                                span Под заказ до 45 дней
                            p.product-variant__description Концепты — двери с ярким цветом, необычной фрезеровкой и роскошными витражами. Они подчёркивают неординарность экстерьера дома или интерьера квартиры.

                            .product-variant__card-description Материал и фрезеровку двери можно посмотреть в салонах на пр-те Дзержинского, 131 и по улице Кальварийская, 7Б, ТЦ «Трюм»
                            .product-variant__card-price
                                h6 комплектация максимальная
                                span от 1685 рублей
                            button.product-variant__card-add  добавить к заказу





