include components/head
body
    include components/header-invisible
    main.main-container.product-concept
        section.big-screen.product-concept__jumbo
            .container
                .row
                    .offset-lg-1.col-lg-6
                        .product-variant__card.product-concept__card
                            include components/breadcrumbs
                            h1.product-variant__title Порте Классик Старый Лондон
                            span.product-variant__order
                                span Под заказ до 45 дней
                            p.product-variant__description Концепты — двери с ярким цветом, необычной фрезеровкой и роскошными витражами. Они подчёркивают неординарность экстерьера дома или интерьера квартиры.

                            .product-variant__card-description Материал и фрезеровку двери можно посмотреть в салонах на пр-те Дзержинского, 131 и по улице Кальварийская, 7Б, ТЦ «Трюм»
                            .product-variant__card-price
                                h6 комплектация максимальная
                                span от 1685 рублей
                            button.product-variant__card-add  добавить к заказу

        section.product-concept__outside
            .container
                .row
                    .offset-lg-1.col-lg-5.no-padding-right
                        .product-concept__outside-left
                            .product-concept__outside-sup отделка снаружи
                            h2.product-concept__outside-title SteelLak, &laquo;Чёрно-серый&raquo; с&nbsp;глянцем
                            .product-concept__outside-descr.in
                                p.product-concept__outside-text Хаотичные линии и&nbsp;выверенные пропорции обеспечивают эстетическую привлекательность модели. Игра плоских и&nbsp;объёмных квадратов придаёт фрезеровке глубину, оживляет интерьер.
                                p.product-concept__outside-text Дверь отлично впишется в&nbsp;современный интерьер, в&nbsp;котором преобладают акценты на&nbsp;геометрических деталях оформления.
                            .product-concept__outside-descr.out
                                p.product-concept__outside-text 2Хаотичные линии и&nbsp;выверенные пропорции обеспечивают эстетическую привлекательность модели. Игра плоских и&nbsp;объёмных квадратов придаёт фрезеровке глубину, оживляет интерьер.
                                p.product-concept__outside-text Дверь отлично впишется в&nbsp;современный интерьер, в&nbsp;котором преобладают
                    .offset-lg-3.col-lg-5
                        .product-concept__outside-right
                            .product-concept__outside-right-over
                                img(src='images/concept-outside.jpg', alt='').product-concept__outside-img.in
                                img(src='images/concept-outside.jpg', alt='').product-concept__outside-img.out
                            .product-concept__outside-change
                                img(src='images/Refresh.svg', alt='')

        section.action-block
            .container
                .row
                    include components/action

        section.entrance-variant
            .wrap
                .row
                    .col-lg-4
                        h2.entrance-variant__title Варианты <br /> комплектации <br /> выбранной двери
                        p.entrance-variant__text Комплектация двери влияет <br /> на технические характеристики: <br /> толщину металла, утепление полотна, <br /> уровень защиты от шума, холодного <br /> воздуха и посторонних запахов.
                        ul.entrance-variant__tabs
                            li.entrance-variant__tabs-item.active(data-variant-entrance="1") Базовая — от 500 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="2") Оптимальная — от 800 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="3") Усиленная — от 1 320 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="4") Максимальная — от 2 300 руб.
                        a(href="#").entrance-variant__link отличия комплектаций
                    .offset-lg-2.col-lg-5
                        img(src='images/concept-2.png', alt='').entrance-variant__img
                    .offset-lg-1.col-lg-3
                        .entrance-variant__blocks(data-variant-entrance-block="1")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="2")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="3")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="4")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.


        section.product-concept__descr
            .container
                .row.product-concept__descr-top
                    .product-concept__descr-left
                        img(src='images/concept-descr-1.jpg', alt='').product-concept__descr-img
                        p.product-concept__descr-text Элегантная ручка Armadillo SQUID придаёт внешнему виду двери особый шарм
                    .offset-lg-10.col-lg-6
                        .product-concept__descr-right
                            img(src='images/concept-descr-2.png', alt='').product-concept__descr-img
                            p.product-concept__descr-text Цвет &laquo;Бронза&raquo; идеально сочетается с&nbsp;оттенком отделки

                .row
                    .col-lg-12
                        img(src='images/concept-descr-3.png', alt='').product-concept__descr-img
                    .col-lg-4
                        .product-concept__descr-bottom
                            p.product-concept__descr-text Геометрическая ферезовка вносит в&nbsp;пространство аккуратность и&nbsp;порядок


        section.measurement.measurement--concept
            .container.measurement__background
                .row
                    .col-lg-4
                        h2.measurement__title Завод бесплатно может ускорить производство входной двери
                    .measurement__center
                        p.measurement__descr Некоторые модели производим, доставляем и устанавливаем быстрее — за 15 рабочих дней. Оставьте номер телефона, чтобы узнать можно ли оформить экспресс-заказ для этой модели.
                        .measurement__input
                            input(type="tel", placeholder="+ 375 29 161 30 33")
                            button(type="submit").measurement__submit
                    .offset-lg-1.col-lg-3
                        .measurement__block
                            img(src="images/measurement-2.png", alt="manager").measurement__img
                    .col-lg-2
                        .measurement__right
                            .measurement__name Анастасия,
                            .measurement__position менеджер
                                br
                                | по продажам


        section.product-concept__handle
            .container
                .row
                    .col-lg-8.product-concept__handle-left
                        img(src='images/concept-handle-1.jpg', alt='').product-concept__handle-img
                        p.product-concept__handle-text Фурнитура в&nbsp;цвете бронза сочетается и&nbsp;со&nbsp;светлой внутренней отделкой двери
                    .offset-lg-1.col-lg-7.product-concept__handle-right
                        h2.product-concept__handle-title Ручка Armadillo
                        p.product-concept__handle-descr Выполнена из&nbsp;латуни, цинка и&nbsp;меди, что обеспечивает механическую долговечность и&nbsp;прочность изделия. Ручка имеет плавный нажим и&nbsp;удобна в&nbsp;использовании. Утончённая форма изделия сочетается с&nbsp;хаотичными линиями фрезеровки и&nbsp;подчёркивает современный стиль двери.
                        img(src='images/concept-handle-2.jpg', alt='').product-concept__handle-img
                        p.product-concept__handle-text Накладка на&nbsp;сувальдный замок закрывает скважину ключа в&nbsp;полотне двери


        section.product-concept__broadsheet
            .container.product-concept__broadsheet-control
                .row
                    .no-padding-right
                        .product-concept__broadsheet-block
                            .product-concept__broadsheet-left
                                h2.product-concept__broadsheet-title Итальянские замки Mottura
                                p.product-concept__broadsheet-text Замок защищён от высверливания благодаря твёрдому сплаву хвостовика.
                            .product-concept__broadsheet-right
                                h4.product-concept__broadsheet-sub Броненакладка Crit
                                p.product-concept__broadsheet-text Защищает цилиндр замка от&nbsp;высверливания, вырывания и&nbsp;выбивания благодаря трём усиливающим вставкам.


        section.product-concept__descr
            .container
                .row.product-concept__descr-top
                    .product-concept__descr-left
                        img(src='images/concept-descr-4.png', alt='').product-concept__descr-img
                        p.product-concept__descr-text Нержавеющий порог устойчив к&nbsp;механическим воздействиям: сколам, царапинам и&nbsp;стирани.
                    .offset-lg-10.col-lg-6
                        .product-concept__descr-right
                            img(src='images/concept-descr-5.png', alt='').product-concept__descr-img
                            p.product-concept__descr-text Противосъёмные ригели защищают от&nbsp;вскрытия двери при срезании петель

                .row
                    .col-lg-12
                        img(src='images/concept-descr-6.png', alt='').product-concept__descr-img
                    .col-lg-4
                        .product-concept__descr-bottom
                            p.product-concept__descr-text Только прикоснувшись к&nbsp;двери, вы&nbsp;почувствуете разницу в&nbsp;покрытиях, легко откроете изделие весом в&nbsp;100&nbsp;кг и&nbsp;убедитесь в&nbsp;плавной работе замков

        section.product-concept__handle
            .container
                .row
                    .col-lg-8.product-concept__handle-left
                        img(src='images/concept-handle-3.png', alt='').product-concept__handle-img
                        p.product-concept__handle-text Фурнитура в&nbsp;цвете бронза сочетается и&nbsp;со&nbsp;светлой внутренней отделкой двери
                    .offset-lg-1.col-lg-7.product-concept__handle-right
                        h2.product-concept__handle-title Ручка Armadillo
                        p.product-concept__handle-descr Выполнена из&nbsp;латуни, цинка и&nbsp;меди, что обеспечивает механическую долговечность и&nbsp;прочность изделия. Ручка имеет плавный нажим и&nbsp;удобна в&nbsp;использовании. Утончённая форма изделия сочетается с&nbsp;хаотичными линиями фрезеровки и&nbsp;подчёркивает современный стиль двери.
                        img(src='images/concept-handle-4.png', alt='').product-concept__handle-img
                        p.product-concept__handle-text Накладка на&nbsp;сувальдный замок закрывает скважину ключа в&nbsp;полотне двери

        section.strengthen-protection-overflow.strengthen-protection-overflow--concept
            .strengthen-protection#pinContainer
                .strengthen-protection__slider-wrap
                    .strengthen-protection__slider#slideContainer
                        section.strengthen-protection__left.first
                            .container
                                .row
                                    .strengthen-protection__wrap
                                        h2.strengthen-protection__title Усиливайте защиту двери с помощью замков
                                        .strengthen-protection__left-wrap
                                            ul.strengthen-protection__list
                                                li.strengthen-protection__list-item.active(data-strengthen-tabs='1') Optima
                                                li.strengthen-protection__list-item(data-strengthen-tabs='2') Optima Plus
                                                li.strengthen-protection__list-item Profi 1
                                                li.strengthen-protection__list-item Profi 2
                                                li.strengthen-protection__list-item Profi 2D
                                                li.strengthen-protection__list-item Premium
                                                li.strengthen-protection__list-item Premium Plus
                                                li.strengthen-protection__list-item Brilliant Plus
                                            .strengthen-protection__info.active(data-strengthen-protection='1')
                                                .strengthen-protection__info-img
                                                    img(src='images/protect-1.png', alt='')
                                                .strengthen-protection__info-descr
                                                    .strengthen-protection__info-wrap
                                                        .strengthen-protection__info-left
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title Верхний замок
                                                                .strengthen-protection__block-name Kale 257L
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title нижний замок
                                                                .strengthen-protection__block-name Kale 252R
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title цилиндр
                                                                .strengthen-protection__block-name Kale
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title Производство
                                                                .strengthen-protection__block-name Турция

                                                        .strengthen-protection__info-right
                                                            .strengthen-protection__info-complect Комплект из сувальдного и цилиндрового замков. Соответствуют 3-му и 4-му, высшему, классу безопасности. Защищены <br /> от высверливания, фрезерования и вбивания ригелей внутрь. Благодаря приводу ручки <br /> с подшипником, замки работают плавно и мягко.

                                                    .strengthen-protection__info-tips Устанавливаем в двери оптимальной, усиленной и максимальной комплектации.
                                                    ul.strengthen-protection__deal
                                                        li.strengthen-protection__deal-item + 55 рублей к оптимальной и усиленной комплектации
                                                        li.strengthen-protection__deal-item + 35 рублей к стоимости максимальной комплектации

                                            .strengthen-protection__info(data-strengthen-protection='2')
                                                .strengthen-protection__info-img
                                                    img(src='images/protect-1.png', alt='')
                                                .strengthen-protection__info-descr
                                                    .strengthen-protection__info-wrap
                                                        .strengthen-protection__info-left
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title Верхний замок2
                                                                .strengthen-protection__block-name Kale 257L
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title нижний замок
                                                                .strengthen-protection__block-name Kale 252R
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title цилиндр
                                                                .strengthen-protection__block-name Kale
                                                            .strengthen-protection__block
                                                                .strengthen-protection__block-title Производство
                                                                .strengthen-protection__block-name Турция

                                                        .strengthen-protection__info-right
                                                            .strengthen-protection__info-complect Комплект из сувальдного и цилиндрового замков. Соответствуют 3-му и 4-му, высшему, классу безопасности. Защищены <br /> от высверливания, фрезерования и вбивания ригелей внутрь. Благодаря приводу ручки <br /> с подшипником, замки работают плавно и мягко.

                                                    .strengthen-protection__info-tips Устанавливаем в двери оптимальной, усиленной и максимальной комплектации.
                                                    ul.strengthen-protection__deal
                                                        li.strengthen-protection__deal-item + 55 рублей к оптимальной и усиленной комплектации
                                                        li.strengthen-protection__deal-item + 35 рублей к стоимости максимальной комплектации


                        section.strengthen-protection__second
                            .strengthen-protection__second-block.strengthen-protection__second-block--first
                                h2.strengthen-protection__second-title Новый уровень безопасности вашего дома
                                p.strengthen-protection__second-text В&nbsp;любые замки устанавливаем усиленный цилиндр Abus. Штифты из&nbsp;калённой стали и&nbsp;защитная пластина не&nbsp;дают высверлить серцевину замка. Пины образуют 100&nbsp;000 секретных кодов, поэтому открыть замок отмычкой практически невозможно.
                                p.strengthen-protection__second-text С Abus комфортно: разные замки с такими цилиндрами может открывать один ключ
                                .strengthen-protection__second-made
                                    img(src='images/german.svg', alt='Сделано в Германии')
                                    span Сделано <br /> в Германии

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-1.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-2.png', alt='Сделано в Германии').strengthen-protection__second-img.strengthen-protection__second-img--right
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-3.png', alt='Сделано в Германии').strengthen-protection__second-img
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-4.png', alt='Сделано в Германии').strengthen-protection__second-img.strengthen-protection__second-img--right
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-5.png', alt='Сделано в Германии').strengthen-protection__second-img.strengthen-protection__second-img--right
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-6.png', alt='Сделано в Германии').strengthen-protection__second-img.strengthen-protection__second-img--right
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей

                            .strengthen-protection__second-block.strengthen-protection__second-product
                                .strengthen-protection__second-stars
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                    img(src='images/star.svg', alt='Звезда')
                                img(src='images/stren-7.png', alt='Сделано в Германии').strengthen-protection__second-img.strengthen-protection__second-img--right
                                .strengthen-protection__second-name Система M12R
                                .strengthen-protection__second-small Базовая степень защиты
                                p.strengthen-protection__second-text.strengthen-protection__second-text--top 6&nbsp;подпружиненных пинов в&nbsp;основном и&nbsp;6&nbsp;во втором ряду
                                p.strengthen-protection__second-text.strengthen-protection__second-text--bottom подходит для создания мастер-системы, когда все замки открываются одним ключом
                                .strengthen-protection__second-price + 160 рублей



        section.bonus
            .container
                .row
                    .bonus__wrap
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-1.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Бесплатный замер
                                .bonus__text  Специалист измерит высоту и ширину проёма, определит его особенности и помогает выбрать правильную сторону открывания двери.
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-2.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Оплата
                                .bonus__text  При заключении договора понадобится предпоплата — 30% от стоимости двери. Остаток вносится до доставки и установки
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-3.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Доставка и установка
                                .bonus__text  Доставляем двери в Минске и за МКАД. Для дверей в дом используем «тёплый монтаж» — утепляем порог и стены вокруг проёма.
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-4.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Гарантия
                                .bonus__text  Действует 2 года на дверь с повреждениями из-за процесса производства, фурнитуру и монтаж наших мастеров.

        section.create
            .wrap
                .row
                    .col-lg-7
                        .create__left
                            img( src="images/create-big-2.jpg", alt="bonus", data-create-src='1' ).create__left-gallery.create__gallery
                            img( src="images/create-2.svg", alt="bonus", data-create-src='2' ).create__left-img
                            .create__left-descr
                                strong Доборы
                                | помогают скрыть зазоры между стеной и дверной <br /> коробкой. Мастера подбирают их под цвет и фактуру двери.
                    .offset-lg-2.col-lg-6
                        .create__right
                            h2.create__right-title Создавайте <br /> завершённый образ <br /> входной двери
                            p.create__right-text Внутри — с помощью доборов, снаружи — наличников и порталов.
                            p.create__right-text.create__right-text--last Рассчитываем стоимость <br /> и устанавливаем элементы после монтажа входной двери.
                            .create__right-img
                                img( src="images/create-big-1.jpg", alt="bonus" ).create__right-gallery.create__gallery
                                img( src="images/create-4.svg", alt="bonus" )
                                .create__left-descr
                                    strong Наличники и порталы
                                    | обрамляют верхнюю и боковые части. Дополняют экстерьер квартиры или дома в классическом стиле.

        section.reviews
            h2.reviews__title Отзывы о дверях и сервисе
            .reviews__container.owl-carousel
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!

        section.one-style
            .container
                .row
                    .one-style__background
                        .one-style__left
                            h2.one-style__title Входная и межкомнатные двери в одном стиле
                        .one-style__right
                            p.one-style__text При выборе межкомнатных дверей можно сразу заказать и входную с похожей или такой же отделкой.
                            a(href="#").one-style__button
                                span посмотреть презентацию



    script(src="static/js/jquery-3.3.1.min.js", defer)
    script(src="static/js/jquery.easing.min.js", defer)
    script(src="static/js/sticky.js", defer)
    script(src="static/js/product-entrance.js", defer)
    script(src="static/js/main.js", defer)
