include components/head
body
    include components/header-invisible
    main.main-container.product-concept
        section.big-screen.product-concept__jumbo
            .container
                .row
                    .offset-lg-1.col-lg-6
                        .product-variant__card.product-concept__card
                            include components/breadcrumbs
                            h1.product-variant__title Порте Классик Старый Лондон
                            span.product-variant__order
                                span Под заказ до 45 дней
                            p.product-variant__description Концепты — двери с ярким цветом, необычной фрезеровкой и роскошными витражами. Они подчёркивают неординарность экстерьера дома или интерьера квартиры.

                            .product-variant__card-description Материал и фрезеровку двери можно посмотреть в салонах на пр-те Дзержинского, 131 и по улице Кальварийская, 7Б, ТЦ «Трюм»
                            .product-variant__card-price
                                h6 комплектация максимальная
                                span от 1685 рублей
                            button.product-variant__card-add  добавить к заказу

        section.product-concept__outside
            .container
                .row
                    .offset-lg-1.col-lg-5.no-padding-right
                        .product-concept__outside-left
                            .product-concept__outside-sup отделка снаружи
                            h2.product-concept__outside-title SteelLak, &laquo;Чёрно-серый&raquo; с&nbsp;глянцем
                            p.product-concept__outside-text Хаотичные линии и&nbsp;выверенные пропорции обеспечивают эстетическую привлекательность модели. Игра плоских и&nbsp;объёмных квадратов придаёт фрезеровке глубину, оживляет интерьер.
                            p.product-concept__outside-text Дверь отлично впишется в&nbsp;современный интерьер, в&nbsp;котором преобладают акценты на&nbsp;геометрических деталях оформления.
                    .offset-lg-3.col-lg-5
                        .product-concept__outside-right
                            img(src='images/concept-outside.jpg', alt='').product-concept__outside-img

        section.action-block
            .container
                .row
                    include components/action

        section.entrance-variant
            .wrap
                .row
                    .col-lg-4
                        h2.entrance-variant__title Варианты <br /> комплектации <br /> выбранной двери
                        p.entrance-variant__text Комплектация двери влияет <br /> на технические характеристики: <br /> толщину металла, утепление полотна, <br /> уровень защиты от шума, холодного <br /> воздуха и посторонних запахов.
                        ul.entrance-variant__tabs
                            li.entrance-variant__tabs-item.active(data-variant-entrance="1") Базовая — от 500 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="2") Оптимальная — от 800 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="3") Усиленная — от 1 320 руб.
                            li.entrance-variant__tabs-item(data-variant-entrance="4") Максимальная — от 2 300 руб.
                        a(href="#").entrance-variant__link отличия комплектаций
                    .offset-lg-2.col-lg-5
                        img(src='images/concept-2.png', alt='').entrance-variant__img
                    .offset-lg-1.col-lg-3
                        .entrance-variant__blocks(data-variant-entrance-block="1")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="2")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="3")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.
                        .entrance-variant__blocks(data-variant-entrance-block="4")
                            .entrance-variant__block.entrance-variant__block--top Петли рассчитаны на&nbsp;300&nbsp;000 циклов открывания. Это более 20&nbsp;лет работы для семьи из&nbsp;четырёх человек.
                            .entrance-variant__block.entrance-variant__block--middle Уровень шумоизоляции&nbsp;&mdash; 38&nbsp;дБ. Громкие звуки за&nbsp;дверью приравниваются к&nbsp;шелесту листвы при небольшом ветре.
                            .entrance-variant__block.entrance-variant__block--bottom 2&nbsp;контура уплотнения обеспечивают высокую герметичность двери и&nbsp;не&nbsp;пропускают посторонний шум и&nbsp;запахи.


        section.product-concept__descr
            .container
                .row.product-concept__descr-top
                    .product-concept__descr-left
                        img(src='images/concept-descr-1.jpg', alt='').product-concept__descr-img
                        p.product-concept__descr-text Элегантная ручка Armadillo SQUID придаёт внешнему виду двери особый шарм
                    .offset-lg-10.col-lg-6
                        .product-concept__descr-right
                            img(src='images/concept-descr-2.png', alt='').product-concept__descr-img
                            p.product-concept__descr-text Цвет &laquo;Бронза&raquo; идеально сочетается с&nbsp;оттенком отделки

                .row.product-concept__descr-bottom
                    .col-lg-12
                    .col-lg-4