include utils/mixins

include components/head
body
    include components/header
    main.main-container
        section.product-variant.product-variant__bivalve
            .container
                .row
                    .product-variant__middle
                        img(src="images/bivalve-1.png", data-door='black', alt="product").product-variant__img.product-variant__img--active
                        .product-variant__name Шпон Fine-line, Венге
                    .product-variant__right
                        .product-variant__card.product-variant__card--new
                            include components/breadcrumbs
                            h1.product-variant__title Межкомнатная дверь Б18
                            span.product-variant__order Под заказ до 45 дней
                            .product-variant__card-block.product-variant__card-block--first
                                .product-variant__card-material Строганный шпон
                                .catalog-item__colors
                                    .catalog-item__color(data-color='Ясень с открытой порой').catalog-item__color--active.catalog-item__color--black
                                    .catalog-item__color(data-color='red').catalog-item__color--grey
                                    .catalog-item__color(data-color='white').catalog-item__color--brown
                            .product-variant__card-block
                                .product-variant__card-material Шпон Fine-line
                                .catalog-item__colors
                                    .catalog-item__color(data-color='black').catalog-item__color--active.catalog-item__color--black
                                    .catalog-item__color(data-color='red').catalog-item__color--grey
                                    .catalog-item__color(data-color='white').catalog-item__color--brown
                            .product-variant__card-description  Дверь можно посмотреть в салонах на пр-те Дзержинского, 131 и по улице Кальварийская, 7Б, ТЦ «Трюм»
                            .product-variant__card-price.product-variant__card-price--new
                                h6 цена комплекта
                                span 1685 рублей
                                span.product-variant__card-oldprice.with--line  2456 рублей
                            .product-variant__card-counter
                                .product-variant__card-left количество
                                .product-variant__card-right
                                    .product-variant__card-minus
                                    .product-variant__card-number 1
                                    .product-variant__card-plus
                            .product-variant__card-cost
                                span что входит в стоимость
                            button.product-variant__card-add  добавить к заказу

        section.product-variant.product-variant--vitrage
            .container
                .row
                    .product-variant__left
                        include components/breadcrumbs
                        h1.product-variant__title Межкомнатная дверь Б18
                        span.product-variant__order Под заказ до 45 дней
                        p.product-variant__description Классическая модель двери с изящным резным наличником, капителем и строгими опорами. Неповторимый шарм придаёт пескоструйный витраж с витиеватым рисунком. Бронзовая фурнитура подчёркивает благородство модели.
                    .product-variant__middle
                        .product-variant__name Эмаль, RAL, 9010
                        img(src="images/product-variant-vitrage.png", data-door='black', alt="product").product-variant__img.product-variant__img--active
                        img(src="images/product-1.png", data-door='red', alt="product").product-variant__img
                    .product-variant__right
                        .product-variant__card.product-variant__card--new
                            h4.product-variant__card-title Варианты исполнения
                            .product-variant__card-material Эмаль
                            .catalog-item__colors
                                .catalog-item__color(data-color='black').catalog-item__color--active.catalog-item__color--black
                                .catalog-item__color(data-color='red').catalog-item__color--grey
                                .catalog-item__color(data-color='white').catalog-item__color--brown
                            .product-variant__card-description  Дверь в таком варианте исполнения установлена в фирменных салонах на пр-те Дзержинского, 122 и Кальварийской, 7Б, ТЦ «Трюм»
                            .product-variant__card-price.product-variant__card-price--new
                                h6 цена комплекта
                                span 1685 рублей
                                span.product-variant__card-oldprice.with--line  2456 рублей
                            .product-variant__card-counter
                                .product-variant__card-left количество
                                .product-variant__card-right
                                    .product-variant__card-minus
                                    .product-variant__card-number 2
                                    .product-variant__card-plus
                            .product-variant__card-cost
                                span что входит в стоимость
                            button.product-variant__card-add  добавить к заказу

        section.action-block
            .container
                .row
                    include components/action
        section.collection-block
            .container
                include components/collection
        section.product-cost(id='product-cost')
            .product-cost__slider
                .product-cost__slide.product-cost__slide--product-center
                    .container
                        .row
                            .col-lg-4.no-padding-left
                                h2.product-cost__title
                                    | Что входит
                                    br
                                    | в стоимость
                                p.product-cost__text.product-cost__text--left Мы предлагаем готовый вариант двери. Весь необходимый погонаж и фурнитура уже включены в стоимость.
                                .product-cost__table.product-cost__table--left
                                    .product-cost__table-head
                                        .product-cost__table-title элемент
                                        .product-cost__table-title цена, руб
                                    .product-cost__table-body
                                        .product-cost__table-row
                                            .product-cost__table-text дверное полотно
                                            .product-cost__table-text 600
                                        .product-cost__table-row
                                            .product-cost__table-text коробка
                                            .product-cost__table-text 200
                                        .product-cost__table-row
                                            .product-cost__table-text наличники
                                            .product-cost__table-text 200
                                        .product-cost__table-row
                                            .product-cost__table-text фурнитура
                                            .product-cost__table-text 655
                                        .product-cost__table-row
                                            .product-cost__table-text врезка под фурнитуру
                                            .product-cost__table-text 50
                                .product-cost__price
                                    .product-cost__price-text цена комплекта
                                    .product-cost__price-number 1685 рублей
                            .col-lg-8
                                .product-cost__img-wrap
                                    .product-cost__img
                                        img(src="images/cost-1.png", alt="door", class="product-cost__img-door")
                                        img(src="images/invisible-line-1.svg", alt="door", class="product-cost__img-door--first-line")
                                        img(src="images/invisible-line-2.svg", alt="door", class="product-cost__img-door--second-line")
                                        img(src="images/invisible-line-3.svg", alt="door", class="product-cost__img-door--third-line")
                                        img(src="images/invisible-line-4.svg", alt="door", class="product-cost__img-door--fourth-line")


                                        .product-cost__img-material Строганный шпон, Американский орех
                            .col-lg-4
                                .product-cost__block-counter

                                .no-padding-right.product-cost-right__slider.product-cost-right--product.owl-carousel
                                    .product-cost-right__slide
                                        .product-cost__title Дверное полотно1
                                        p.product-cost__text.product-cost__table--right Выполнено из клеенного бруса хвойных пород дерева. Подложка под отделку — ДВП или ХДФ .
                                        .product-cost__table.product-cost__table--right.product-cost__table--line
                                            .product-cost__table-head
                                                .product-cost__table-title Параметры
                                                .product-cost__table-title мм
                                            .product-cost__table-body
                                                .product-cost__table-row
                                                    .product-cost__table-text высота
                                                    .product-cost__table-text 2000
                                                .product-cost__table-row
                                                    .product-cost__table-text ширина
                                                    .product-cost__table-text 600, 700, 800, 900
                                                .product-cost__table-row
                                                    .product-cost__table-text толщина
                                                    .product-cost__table-text 40
                                        .product-cost__title.product-cost__title--bottom Телескопическая коробка
                                        p.product-cost__text.product-cost__text--bottom В конструкции не используют гвозди. Наличники крепятся в специальные пазы. Коробка легко снимается и устанавливается, перекрывает зазоры между стеной и дверью.
                                        .product-cost__table-body
                                            .product-cost__table-row
                                                .product-cost__table-text Ширина
                                                .product-cost__table-text 74 мм

                                    .product-cost-right__slide
                                        .product-cost__title Дверное полотно1
                                        p.product-cost__text.product-cost__table--right Выполнено из клеенного бруса хвойных пород дерева. Подложка под отделку — ДВП или ХДФ .
                                        .product-cost__table.product-cost__table--right.product-cost__table--line
                                            .product-cost__table-head
                                                .product-cost__table-title Параметры
                                                .product-cost__table-title мм
                                            .product-cost__table-body
                                                .product-cost__table-row
                                                    .product-cost__table-text высота
                                                    .product-cost__table-text 2000
                                                .product-cost__table-row
                                                    .product-cost__table-text ширина
                                                    .product-cost__table-text 600, 700, 800, 900
                                                .product-cost__table-row
                                                    .product-cost__table-text толщина
                                                    .product-cost__table-text 40
                                        .product-cost__title.product-cost__title--bottom Телескопическая коробка
                                        p.product-cost__text.product-cost__text--bottom В конструкции не используют гвозди. Наличники крепятся в специальные пазы. Коробка легко снимается и устанавливается, перекрывает зазоры между стеной и дверью.
                                        .product-cost__table-body
                                            .product-cost__table-row
                                                .product-cost__table-text Ширина
                                                .product-cost__table-text 74 мм





        section.stained-glass
          .container
              .row.stained-glass__screen
                  .col-lg-4
                    h2.stained-glass__title
                        | Витраж дополняет
                        br
                        | дизайн двери
                    p.stained-glass__text.stained-glass__text--first Белое или бронзовое матовое стекло с плоским рисунком. Изображение наносится методом пескоструйной обработки. Витражи удачно смотрятся на классических моделях дверей. Освежают дизайн полотна и делают его более оригинальным.
                    p.stained-glass__text.stained-glass__text--second  Доступна технология нанесения объёмного рисунка. На заводе выполняется глубокое матирование стекла. Рифлёное изображение придаёт изделию более богатый вид.
                  .offset-lg-2.col-lg-10
                      .stained-glass__slider.owl-carousel
                          .stained-glass__slide
                              .stained-glass__block.stained-glass__block--small
                                  .stained-glass__block-name PVC
                                  img(src="images/glass-1.png", alt="door").stained-glass__block-img.stained-glass__block-img--small
                                  .stained-glass__block-descr Входит в стоимость

                              .stained-glass__block.stained-glass__block--big
                                    .stained-glass__block-name PVC
                                    img(src="images/glass-2.png", alt="door").stained-glass__block-img.stained-glass__block-img--big
                                    .stained-glass__block-descr + 35 рублей
                          .stained-glass__slide
                              .stained-glass__block.stained-glass__block--small
                                  .stained-glass__block-name PVC2
                                  img(src="images/glass-1.png", alt="door").stained-glass__block-img.stained-glass__block-img--small
                                  .stained-glass__block-descr Входит в стоимость

                              .stained-glass__block.stained-glass__block--big
                                  .stained-glass__block-name PVC2
                                  img(src="images/glass-2.png", alt="door").stained-glass__block-img.stained-glass__block-img--big
                                  .stained-glass__block-descr + 35 рублей



        section.choose-box
            .container
                .row
                    .col-lg-4.no-padding-left
                        h2.choose-box__title Выбирайте коробку,
                            br
                            | которая подходит
                            br
                            |  к вашему дизайну
                        ul.choose-box__list
                            li.choose-box__item.choose-box__item--active(data-choose-item='1') Телескопическая
                            li.choose-box__item(data-choose-item='2') Скрытого монтажа
                            li.choose-box__item(data-choose-item='3') Гвоздевая
                            li.choose-box__item(data-choose-item='4') Компланарная
                        .choose-box__text-block(data-choose-slide='1')
                            p.choose-box__text.choose-box__text--first Образует единую плоскость для дверного полотна и наличника. Скрытые петли в закрытом состоянии «прячутся» внутри коробки.
                            p.choose-box__text.choose-box__text--background Допустимое отклонение стен от вертикали — 2 мм на метр. Ширина коробки — 89 мм.
                        .choose-box__text-block(data-choose-slide='2')
                            p.choose-box__text.choose-box__text--first Образует единую плоскость для дверного полотна и наличника. Скрытые петли в закрытом состоянии «прячутся» внутри коробки.
                            p.choose-box__text.choose-box__text--background Допустимое отклонение стен от вертикали — 2 мм на метр. Ширина коробки — 89 мм.
                        .choose-box__text-block(data-choose-slide='3')
                            p.choose-box__text.choose-box__text--first Образует единую плоскость для дверного полотна и наличника. Скрытые петли в закрытом состоянии «прячутся» внутри коробки.
                            p.choose-box__text.choose-box__text--background Допустимое отклонение стен от вертикали — 2 мм на метр. Ширина коробки — 89 мм.
                        .choose-box__text-block(data-choose-slide='4')
                            p.choose-box__text.choose-box__text--first Наличник крепится при помощи гвоздей. Доборные элементы одним краем примыкают к коробке, а другим закрывают наличник.
                            p.choose-box__text.choose-box__text--background Подходит для дверей в шпоне. Используется в старых домах с заметно кривыми проёмами.
                    .offset-lg-2.col-lg-4.choose-box__slide(data-choose-slide='1')
                        .choose-box__block.choose-box__block--small
                            img(src="images/choose-1.png", alt="door").choose-box__block-img.choose-box__block-img--small
                            .choose-box__block-text Скрывает эффект ступенчатости при закрытии дверей.
                    .offset-lg-1.col-lg-5.no-padding-right.choose-box__slide(data-choose-slide='1')
                        .choose-box__block.choose-box__block--big
                            img(src="images/choose-2.png", alt="door").choose-box__block-img.choose-box__block-img--big
                            .choose-box__block-text Подходит для минималистичного дизайна.
                    .offset-lg-2.col-lg-4.choose-box__slide(data-choose-slide='2')
                        .choose-box__block.choose-box__block--small
                            img(src="images/choose-3.png", alt="door").choose-box__block-img.choose-box__block-img--small
                            .choose-box__block-text Скрывает эффект ступенчатости при закрытии дверей.
                    .offset-lg-1.col-lg-5.no-padding-right.choose-box__slide(data-choose-slide='2')
                        .choose-box__block.choose-box__block--big
                            img(src="images/choose-4.png", alt="door").choose-box__block-img.choose-box__block-img--big
                            .choose-box__block-text Подходит для минималистичного дизайна.
                    .offset-lg-2.col-lg-4.choose-box__slide(data-choose-slide='3')
                        .choose-box__block.choose-box__block--small
                            img(src="images/choose-5.png", alt="door").choose-box__block-img.choose-box__block-img--small
                            .choose-box__block-text Скрывает эффект ступенчатости при закрытии дверей.
                    .offset-lg-1.col-lg-5.no-padding-right.choose-box__slide(data-choose-slide='3')
                        .choose-box__block.choose-box__block--big
                            img(src="images/choose-6.png", alt="door").choose-box__block-img.choose-box__block-img--big
                            .choose-box__block-text Подходит для минималистичного дизайна.
                    .offset-lg-2.col-lg-4.choose-box__slide(data-choose-slide='4')
                        .choose-box__block.choose-box__block--small
                            img(src="images/choose-7.png", alt="door").choose-box__block-img.choose-box__block-img--small
                            .choose-box__block-text Скрывает эффект ступенчатости при закрытии дверей.
                    .offset-lg-1.col-lg-5.no-padding-right.choose-box__slide(data-choose-slide='4')
                        .choose-box__block.choose-box__block--big
                            img(src="images/choose-8.png", alt="door").choose-box__block-img.choose-box__block-img--big
                            .choose-box__block-text Подходит для минималистичного дизайна.



        section.extras
            .container
                .row.extras__background
                   .offset-lg-1.col-lg-4.no-padding-left
                       h2.extras__title Дополняйте образ двери доборами
                       p.extras__text Доборы закрывают торцевые стенки, укрепляют короб и не дают ему расшататься. Служат для стыковки дверной коробки и наличника, когда толщина стены больше 9 см. Необходимость заказа доборов определяет мастер на этапе замера проёма.
                .row
                    .col-lg-6
                        a(href="#").extras__link Примеры дверей с доборами
                    .col-lg-4
                        p.extras__descr
                            strong Доборы
                            | сочетаются со стилем и цветом двери. Их помогает подобрать менеджер, устанавливает мастер на этапе монтажа
                    .offset-lg-1.col-lg-4
                        p.extras__descr
                            strong Без доборов
                            | откосы выглядят неэстетично. Потребуется самостоятельно отделать их штукатуркой или другим материалом.
        section.solutions
            h2.solutions__title Предлагаем решения
                br
                | для нестандартных проёмов
            .container
                .row.solutions__grid
                    .solutions__block.solutions__block--one
                        .solutions__number 01
                        .solutions__name Размер под заказ
                        img(src="images/solution-1.svg", alt="door").solutions__img
                        p.solutions__text Максимальная высота дверного полотна под заказ — 2700 мм, ширина — 1030 мм.

                    .solutions__block.solutions__block--two
                        .solutions__number 02
                        .solutions__name Двустворчатая дверь
                        img(src="images/solutions-2.svg", alt="door").solutions__img
                        p.solutions__text Оптимальное решение для проёмов шириной более 1200 мм. Двустворчатая дверь состоит из двух полотен.

                    .solutions__block.solutions__block--three
                        .solutions__number 03
                        .solutions__name Фрамуги
                        img(src="images/solution-3.svg", alt="door").solutions__img
                        p.solutions__text Декоративные элементы устанавливают сбоку или над дверным полотном. Дизайнер подберёт материал и вид для фрамуги.

        section.measurement
            .container.measurement__background
                .row
                    .col-lg-5
                        h2.measurement__title Бесплатный замер дверного проёма
                    .col-lg-5.no-padding
                        p.measurement__descr Замер от нашего специалиста — гарантия того, что дверь подойдёт идеально. Замерщик учтёт все нюансы, важные для дальнейших этапов.
                        .measurement__input
                            input(type="tel", placeholder="+ 375 29 161 30 33")
                            button(type="submit").measurement__submit
                    .offset-lg-1.col-lg-3
                        .measurement__block
                            img(src="images/measurement-1.png", alt="manager").measurement__img
                    .col-lg-2
                        .measurement__right
                            .measurement__name Анастасия,
                            .measurement__position менеджер
                                br
                                | по продажам


        section.coating
            .coating__left
            .coating__right
                .coating__description
                    h2.coating__title Декоративное
                        br
                        | покрытие дверей
                        br
                        | патиной
                    p.coating__text
                        | Патинирование — декоративное
                        br
                        | окрашивание дверей. Патина
                        br
                        | наносится мастером вручную. Придаёт
                        br
                        | дверному полотну презентабельный
                        br
                        | вид. Используется для декорирования
                        br
                        | классических моделей дверей.
                .coating__img

        section.colors
            .container
                .row
                    .colors__wrap
                        h2.colors__title 211 цветов эмали под заказ
                        p.colors__text Классические и современные двери в эмали можно окрасить в любой цвет палитры RAL Classic за дополнительную плату. Благодаря богатому ряду оттенков легко воплотить даже самые смелые интерьерные задумки в жизнь.
                        .colors__made
                            .colors__flag
                            .colors__country  made in Italy
                        a(href="#").colors__link открыть каталог

        section.hardware
            .hardware__left
                h2.hardware__title Подбирайте фурнитуру к интерьеру
                p.hardware__text Предлагаем дверные ручки, механизмы закрывания и петли от 10 производителей фурнитуры из Италии, Турции и Греции.
                p.hardware__bottom Сделаем врезку под ручки, замки и петли на заводе. Избавим вас от лишнего шума и мусора во время монтажа. Заводская врезка точная и аккуратная. Петли не просядут со временем, ручки не расшатаются
            .hardware__right
                .hardware__slider.owl-carousel
                    .hardware__slide
                        img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                        .hardware__slide-title Morelli1
                        p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                        a(href="#").hardware__slide-link Посмотреть каталог
                    .hardware__slide
                        img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                        .hardware__slide-title Morellil2
                        p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                        a(href="#").hardware__slide-link Посмотреть каталог
                    .hardware__slide
                        img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                        .hardware__slide-title Morellil3
                        p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                        a(href="#").hardware__slide-link Посмотреть каталог
                    .hardware__slide
                        img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                        .hardware__slide-title Morellil3
                        p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                        a(href="#").hardware__slide-link Посмотреть каталог
                    .hardware__slide
                        img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                        .hardware__slide-title Morellil3
                        p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                        a(href="#").hardware__slide-link Посмотреть каталог
                    .hardware__slide
                        img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                        .hardware__slide-title Morellil3
                        p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                        a(href="#").hardware__slide-link Посмотреть каталог
                    .hardware__slide
                        img(src="images/hardware-1.png", alt="manager").hardware__slide-img
                        .hardware__slide-title Morellil3
                        p.hardware__slide-text Более 400 наименований фурнитуры от итальянского производителя. Изделия защищены от истирания многослойным покрытием. Срок службы фурнитуры составляет не менее 8 лет.
                        a(href="#").hardware__slide-link Посмотреть каталог
                .hardware__range


        section.hidden-loops
            .container
                .row
                    .col-lg-7.no-padding-left
                        h2.hidden-loops__title Скрытые петли улучшат
                            br
                            | эстетику дверного проёма
                        p.hidden-loops__text Несущие механизмы невидимы с обеих сторон, что улучшает внешний вид двери. Регулируются в трёх плоскостях: по глубине с точностью до 1 мм, вертикали — до 2 мм, горизонтали — до 1,5 мм. В результате полотно плотно прилегает к коробке и не расшатывается.
                        figure.hidden-loops__block
                            img( src="images/hidden-1.png", alt="hidden" ).hidden-loops__img.hidden-loops__img--small
                            figcapture.hidden-loops__descr
                                | Устройство скрытой петли надёжно фиксирует
                                br
                                | конструкцию, дверное полотно не просядет со временем.

                    .offset-lg-1.col-lg-7.no-padding-right
                        figure.hidden-loops__block
                            img( src="images/hidden-2.png", alt="hidden" ).hidden-loops__img.hidden-loops__img--big
                            figcapture.hidden-loops__descr
                                | Наличник и полотно визуально сливаются в одну плоскость,
                                br
                                | и зазор между ними становится незаметным.

        section.threshold
            .threshold__background
                .container
                    .row
                        .col-lg-4.no-padding-left
                            h2.threshold__title Выпадающий порог защитит от шума и сквозняков
                            .threshold__block
                                img( src="images/threshold-1.png", alt="threshold" ).threshold__block-img
                                .threshold__block-text от 53 руб.
                            p.threshold__descr Во время закрывания двери, уплотнитель перекрывает щель между дверью и полом.  Так система защищает помещение  от лишних звуков за дверью и сохраняет тепло.
                        .offset-lg-5.col-lg-3.no-padding-left
                            .threshold__block--right
                                p.threshold__descr.threshold__descr--right Когда дверь открыта, порог невидим. Он не создаёт преград на полу, не мешает движению между комнатами.


        section.helper
            .container
                .row
                    .col-lg-7.no-padding
                        figure.helper__figure
                            img( src="images/helper-1.png", alt="helper" ).helper__figure-img
                            figcapture
                                .helper__figure-title Двери-купе
                                .helper__figure-text  Перемещаются по направляющей конструкции, которую крепят вверху проёма. Можно выбрать правое или левое направление открывания.
                        figure.helper__figure.helper__figure--left
                            img( src="images/helper-2.png", alt="helper" ).helper__figure-img
                            figcapture
                                .helper__figure-title Двери-пенал
                                .helper__figure-text При открывании полотна сдвигаются в специальные ниши в стене. Двери перемещаются по горизонтали в одной плоскости с коробом.
                        .helper__miniature
                            .helper__miniature-title Выбирайте любую систему
                            .helper__miniature-text Все двери из каталога можно заказать в виде раздвижной системы. Погонаж и фурнитуру к цвету отделки поможет подобрать менеджер.
                    .offset-lg-2.col-lg-7.no-padding
                        h2.helper__title Раздвижные системы помогут сэкономить пространство
                        p.helper__descr Нестандартные способы открывания двери позволяют сэкономить полезную площадь квартиры или дома. Раздвижные системы освобождают территорию около проёма и вдоль стены.
                        figure.helper__figure
                            img( src="images/helper-3.png", alt="helper" ).helper__figure-img
                            figcapture
                                .helper__figure-title Внутрипроёмные
                                .helper__figure-text Два полотна движутся в одной плоскости со стеной навстречу друг другу, оставляя свободным только половину проёма.
                        figure.helper__figure
                            img( src="images/helper-4.png", alt="helper" ).helper__figure-img
                            figcapture
                                .helper__figure-title Каскадные
                                .helper__figure-text Конструкция состоит из нескольких полотен, которые двигаются по отдельным направляющим и собираются в одной стороне проёма.

        section.bonus
            .container
                .row
                    .bonus__wrap
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-1.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Бесплатный замер
                                .bonus__text  Специалист измерит высоту и ширину проёма, определит его особенности и помогает выбрать правильную сторону открывания двери.
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-2.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Оплата
                                .bonus__text  При заключении договора понадобится предпоплата — 30% от стоимости двери. Остаток вносится до доставки и установки
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-3.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Доставка и установка
                                .bonus__text  Доставляем двери в Минске и за МКАД. Для дверей в дом используем «тёплый монтаж» — утепляем порог и стены вокруг проёма.
                        .bonus__block
                            a(href="#")
                                img( src="images/bonus-4.svg", alt="bonus" ).bonus__img
                                .bonus__title
                                    span Гарантия
                                .bonus__text  Действует 2 года на дверь с повреждениями из-за процесса производства, фурнитуру и монтаж наших мастеров.


        section.reviews
            h2.reviews__title Отзывы о дверях и сервисе
            .reviews__container.owl-carousel
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!
                .reviews__block
                    .reviews__block-title минская область, юлия
                    p.reviews__block-text Покупали входную дверь год назад. Заказ оформили быстро, всё очень грамотно, менеджеры в ТЦ «Трюм» просто умницы. Уточнили и про наличники и про доборы, посоветовали, что делать с дверью во время строительства. Прошел год, на двери ни царапинки. Делали теплый монтаж и поэтому зимой не было промерзания или конденсата.
                    p.reviews__block-text Очень довольны дверью и всем знакомым теперь советуем!

        section.one-style
            .container
                .row
                    .one-style__background
                        .one-style__left
                            h2.one-style__title Входная и межкомнатные двери в одном стиле
                        .one-style__right
                            p.one-style__text При выборе межкомнатных дверей можно сразу заказать и входную с похожей или такой же отделкой.
                            a(href="#").one-style__button
                                span посмотреть презентацию

        section.similar-style
            .container
                .row
                    .col-lg-6
                        h2.similar-style__title Модели дверей в похожем стиле
                        p.similar-style__text Мы подобрали другие двери, которые по стилю похожи на дверь РД83. Они подойдут интерьеру в стиле модерн, хай-тек и функционализм.
                        a(href="#").similar-style__link перейти в каталог
                    .col-lg-4
                        .catalog-item.catalog-item--interior
                            a(href="#").catalog-item__link
                                .catalog-item__mask
                                .catalog-item__img
                                    img(src="images/catalog-item-16.png", alt="catalog item")
                                .catalog-item__footer
                                    .catalog-item__row
                                        span.catalog-item__name MK01K
                                        span.catalog-item__price от 4 323 руб.
                                    .catalog-item__row
                                        .catalog-item__material-container
                                            span.catalog-item__material Шпон и эмаль
                                        .catalog-item__colors
                                            .catalog-item__color.catalog-item__color--active.catalog-item__color--black
                                            .catalog-item__color.catalog-item__color--grey
                                            .catalog-item__color.catalog-item__color--brown
                                            .catalog-item__color.catalog-item__color--grey-light
                                            .catalog-item__color.catalog-item__color--multicolor
                    .offset-lg-2.col-lg-4
                        .catalog-item.catalog-item--interior
                            a(href="#").catalog-item__link
                                .catalog-item__mask
                                .catalog-item__img
                                    img(src="images/catalog-item-16.png", alt="catalog item")
                                .catalog-item__footer
                                    .catalog-item__row
                                        span.catalog-item__name MK01K
                                        span.catalog-item__price от 4 323 руб.
                                    .catalog-item__row
                                        .catalog-item__material-container
                                            span.catalog-item__material Шпон и эмаль
                                        .catalog-item__colors
                                            .catalog-item__color.catalog-item__color--active.catalog-item__color--black
                                            .catalog-item__color.catalog-item__color--grey
                                            .catalog-item__color.catalog-item__color--brown
                                            .catalog-item__color.catalog-item__color--grey-light
                                            .catalog-item__color.catalog-item__color--multicolor
.extras__popup
    .extras__popup-close
        include ../static/images/extras-close.svg
    .extras__popup-container.owl-carousel
        .extras__popup-item
            img(src="images/extras-1.png", alt="product").extras__popup-item__img
            p.extras__popup-item__text Скрывает эффект ступенчатости при закрытии дверей.
        .extras__popup-item
            img(src="images/extras-1.png", alt="product").extras__popup-item__img
            p.extras__popup-item__text Скрывает эффект ступенчатости при закрытии дверей.
        .extras__popup-item
            img(src="images/extras-1.png", alt="product").extras__popup-item__img
            p.extras__popup-item__text Скрывает эффект ступенчатости при закрытии дверей.









script(src="static/js/jquery-3.3.1.min.js", defer)
script(src="static/js/owl.carousel.min.js", defer)
script(src="static/js/waypoints.js", defer)
script(src="static/js/mousewheel.js", defer)
script(src="static/js/jquery-mousewheel.js", defer)
script(src="static/js/sly-slider.js", defer)
script(src="static/js/Scrollbar.js", defer)
script(src="static/js/jquery-ui.min.js", defer)
script(src="static/js/libs.min.js", defer)
script(src='static/js/main.js', defer)
script(src='static/js/product-card.js', defer)