.reliable-fittings {
  margin-bottom: 200px;

  &__top {
    margin-bottom: 151px;
  }

  & > .wrap {
    padding-left: 0;
  }

  &__title {
    margin-bottom: 102px;
    text-align: center;

  }

  &__miniature {
    padding-top: 54px;
    cursor: pointer;

    &--first {
      position: relative;
      &:before {
        content: '';
        height: 100%;
        width: 100px;
        background-color: $white-2;
        position: absolute;
        left: -91px;
        top: 0;
      }
      &:after {
        content: '';
        height: 100%;
        position: absolute;
        right: -89px;
        top: 0;
        width: 123px;
        background-color: $white-2;

      }
    }

    &-bg {
      background-color: $white-2;
    }
    &-descr {
      padding-bottom: 54px;
      &--first {
        width: 350px;
      }
      &--last {
        width: 345px;
      }
    }
    &-img {
      margin-bottom: 16px;
      &--first {
        margin-top: -6px;
      }
    }
    &-title {
      margin-bottom: 16px;
    }
    &-sub {
      color: $grey-3;
      font-family: $rft-font;
      font-weight: 600;
      letter-spacing: 0.01em;
      font-size: 14px;
      margin-bottom: 30px;
    }

  }


  &__block {
    margin-top: -6px;

    &-title {
      font-size: 27px;
      margin-bottom: 15px;
      line-height: 32px;
    }

    &-sub {
      font-family: $rft-font;
      font-weight: 600;
      color: $grey-3;
      letter-spacing: 0.05em;
      margin-bottom: 30px;
    }

    &-text {
      &--first {
        margin-bottom: 40px;
      }
    }

  }


}