.big-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &--invisible {
    background-image: url('../../images/invisible-screen.png');
    height: 1125px;
    margin-top: -107px;
    margin-bottom: 180px;

    .product-variant__card {
      padding-right: 36px;
      padding-left: 36px;
      margin-top: 170px;
    }

    .breadcrumbs {
      margin-top: 0;
      margin-bottom: 8px;
    }

    .product-variant__order {
      margin-bottom: 18px;
    }

    .product-variant__description {
      margin-bottom: 18px;
    }

  }
}