.big-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &--invisible {
    background-image: url('../../images/invisible-screen.png');
    height: 1116px;
    margin-top: -107px;
    margin-bottom: 168px;

    .product-variant__card {
      padding-right: 36px;
      padding-left: 36px;
      margin-top: 170px;
      padding-top: 48px;
    }

    .product-variant__card-description {
      padding-top: 8px;
    }

    .product-variant__card-price h6 {
      margin-top: 25px;
    }

    .breadcrumbs {
      margin-top: 0;
      margin-bottom: 10px;
      overflow: hidden;
    }

    .product-variant__order {
      margin-bottom: 13px;
      margin-top: 14px;
    }

    .product-variant__description {
      margin-bottom: 18px;
    }

  }
}