.breadcrumbs {
  margin-top: 44px;
  margin-bottom: 40px;
  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
  }

  &__link {
    font-family: $minion-font;
    font-style: italic;
    font-size: 18px;
    color: $black;
    cursor: pointer;
  }

  &__item {
    list-style-type: none;
    position: relative;

    &:not(:last-child):after {
      content: '/';
      position: relative;
      font-size: 18px;
      padding-left: 9px;
      padding-right: 8px;
    }

  }

}