.choose-box {
  margin-bottom: 161px;

  &__slide:not([data-choose-slide='1']) {
    display: none;
  }

  &__list {
    margin-top: 27px;
    margin-bottom: 9px;
    padding: 0;
  }

  &__block {
    &--small {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 115px;
    }
    &-text {
      margin-top: 3px;
      font-size: 18px;
      font-style: italic;
      line-height: 27px;
      color: $black-3;
      font-family: $minion-font;
    }
    &-img {
      width: 100%;
      &--small {
        height: 483px;
      }
      &--big {
        height: 681px;
        margin-top: 18px;
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 27px;

    &--first {
      margin-bottom: 67px;
    }

    &--background {
      background-color: $white-2;
      padding: 18px 27px 27px 18px;
      width: 271px;
    }
  }

  &__item {
    font-size: 27px;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 34px;
    list-style-type: none;
    &--active {
      color: $grey-6;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: $gold;
    }
  }

}