.choose-bivalve {
  width: 100%;
  &__left {
    flex: 0 0 43.75%;
    max-width: 43.75%;
  }
  &__right {
    flex: 0 0 43.75%;
    max-width: 43.75%;
    margin-left: 12.5%;
  }
  & .catalog-item--bivalve {
    width: 100%;
    margin-bottom: 168px;
  }
  & .catalog-factoid {
    margin-top: 41px;
  }
  & .catalog-factoid--entrance {
    padding-top: 53px;
    margin-top: 0;
  }
}