.collection {
  width: 100%;
  margin-bottom: 194px;
  $context: &;
  &-invisible {

    margin-bottom: 179px;

    #{$context}__block {
      margin-top: 217px;
      padding-left: 8px;
    }

    #{$context}__descr {
      font-size: 27px;
      line-height: 36px;
      letter-spacing: -1px;
    }

    &__title.collection__title {
      display: flex;
      align-items: center;
      margin-bottom: 27px;
      strong {
        font-family: $minion-display;
        font-size: 121px;
        line-height: 54px;
        color: $gold;
      }
      span {
        font-size: 42px;
        line-height: 54px;
        color: $black;
        font-family: $minion-display;
        padding-left: 16px;
        margin-top: -2px;
      }
    }

    &__img {
      position: relative;
      z-index: 1;

      &:before {
        content: '';
        width: 597px;
        height: 820px;
        border: 1px solid #CBA576;
        position: absolute;
        top: -36px;
        left: -36px;
        z-index: -1;
      }
    }


  }

  &__img {
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      width: 597px;
      height: 820px;
      border: 1px solid #CBA576;
      position: absolute;
      top: -36px;
      left: -36px;
      z-index: -1;
    }
  }

  &__block {
    margin-top: 126px;
  }

  &__about {
    font-family: $rft-font;
    font-weight: $bold;
    font-size: 11px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: $grey-5;
    margin-bottom: 11px;
  }

  &__descr {
    margin-bottom: 35px;
  }

  &__title {
    color: $gold;
    margin-bottom: 20px;
  }

  &__link {
    @include link-with-border( $black, $black );
  }

}

