.decoration {
  margin-bottom: 200px;

  &__img {

    &--big {
      margin: 0;
    }

    &--small {
      margin: 0;
    }

  }
  &__title {
    line-height: 1;
  }

  &__text {
    width: 334px;
    margin-bottom: 66px;
  }

}