.decoration {
  margin-bottom: 200px;

  &__img {

    &-descr {
      font-style: italic;
      font-size: 18px;
      line-height: 27px;
      width: 337px;
      strong {
        display: inline-block;

      }
    }

    &--big {
      margin: 0;
    }

    &--small {
      margin: 0;
    }

  }
  &__title {
    line-height: 1;
    margin-top: -14px;
    margin-bottom: 28px;
  }

  &__text {
    width: 334px;
    margin-bottom: 66px;
  }

}