.header {
  padding-top: 8px;
  position: relative;

  &-entrance.header {
    &:before {
      height: 1234px;
    }
  }

  & + .entrance-card {
    .product-variant {
      &:before {
        display: none;
      }
    }
  }

  &.invisible--door {
    z-index: 10;
    position: relative;
    &:before {
      background: none;
    }
  }
  &.transparent:before {
    background: #f7f7f7;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 278px;
    background: linear-gradient(180deg, #DEE2E3 0%, rgba(222, 226, 227, 0) 100%);
    z-index: -1;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    position: relative;
    border-bottom: 1px solid $grey-2;
    background-color: $white;
  }
  &__bottom {
    font-size: 20px;
    width: 100%;
     background-color: $white;
    padding: 0 32px 0 36px;
  }
  &__cart {
    cursor: pointer;
    width: 28px;
    height: 29px;
    position: relative;
    z-index: 3;
    text-decoration: none;
    box-sizing: content-box;
    padding: 13px 32px;
    &-counter {
      width: 19px;
      height: 19px;
      background-color: $grey-5;
      font-size: 15px;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      top: 13px;
      right: 29px;
    }
    & > svg {
      transition: .25s;
      fill: $black;
    }
    &:hover svg {
      fill: $gold;
    }
  }

  &__logo {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    & > svg {
      width: 151px;
      height: 36px;
      display: block;
      margin: 0 auto;
    }
  }

  &__phone {
    font-family: $rft-font;
    font-weight: $semi-bold;
    font-size: $fz-base;
    letter-spacing: 1px;
    color: $black;
    text-decoration: none;
    position: relative;
    z-index: 3;
    transition: .25s;
    padding: 13px 32px;
    &:hover {
      color: $gold;
    }
  }

}