.invisible-door {
  position: relative;
  margin-bottom: 172px;

  &:hover {
    .invisible-door__title {
      color: $gold;
    }
  }
  
  &__second-row {
    background-color: $green-2;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      right: 100%;
      top: 0;
      z-index: 0;
      background-color: $green-2;
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 100%;
      top: 0;
      z-index: 0;
      background-color: $green-2;
    }
  }
  
  &__decoration-right {
    margin-left: 65px;
  }

  &__card {
    padding-top: 54px;
    background-color: $white-3;
    padding-bottom: 52px;

    &-img {
      background-image: url('../../images/invisible-card-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      left: 0;
      height: 945px;
      width: 49%;
      margin-top: 56px;
    }

    .product-variant__block--entrance {
      background-color: $white;
      margin-top: 103px;
      padding: 48px 41px 54px 36px;
    }

    .breadcrumbs {
      margin-top: 0;
      margin-bottom: 10px;
      overflow: hidden;
    }
    .product-variant__order {
      margin-bottom: 11px;
    }
    .product-variant__description--entrance {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 10px;
    }
    .product-variant__card-price h6 {
      margin-top: 26px;
    }
  }

  &__bonus {
    margin-bottom: 232px;
  }

  &__threshold__block {
    margin-bottom: 0;
  }

  &__defend {
    margin-bottom: 98px;

    &-title {
      margin-bottom: 31px;
    }
    &-text {
      max-width: 318px;
      margin-bottom: 94px;
    }
    &-img {
      background-image: url('../../images/invisible-defend-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      right: 0;
      height: 792px;
      width: 63.3%;
      margin-top: 17px;
    }

  }

  &__choose {
    background-color: $grey-12;
    margin-bottom: 168px;
    overflow: hidden;
    &-title {
      max-width: 510px;
      margin-top: 77px;
      margin-bottom: 391px;
      &--bottom {
        width: 439px;
        margin-bottom: 259px;
      }
    }
    &-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 749px;
      position: absolute;

      &--first {
        background-image: url('../../images/invisible-choose-1.png');
        right: 0;
        width: 55%;

      }
      &--second {
        background-image: url('../../images/invisible-choose-2.png');
        left: 0;
        width: 53%;
        height: 752px;
        z-index: 2;
      }
    }
    &-text {
      font-style: italic;
      font-size: 18px;
      padding-bottom: 92px;
      &--bottom {
        max-width: 440px;
      }
    }
  }

  &__decoration {
    position: relative;
    margin-bottom: 176px;

    &-left {
      .invisible-door__decoration-comment {
        margin-top: 1165px;
        margin-left: -66px;
      }
      img {
        position: absolute;
        left: 0;
        width: 40%;
        height: 992px;
      }
    }

    &-right {

      .invisible-door__decoration-comment {
        margin-top: 1068px;
        margin-left: 51%;
      }
      img {
        position: absolute;
        top: 52px;
        right: 0;
        width: 40%;
        height: 998px;
      }
    }

    &-title {
      width: 355px;
      margin-bottom: 21px;

    }

    &-text {
      width: 433px;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 150px;
    }

    &-comment {

      font-style: italic;
      font-size: 18px;
      line-height: 27px;
      width: 598px;
    }
  }

  &__comment {
    height: 749px;
    width: 100%;
    background-image: url('../../images/invisible-door-cooment-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 116px;
    margin-bottom: 171px;

    &-title {
      width: 1105px;
      color: $white-4;
      text-align: center;
      margin-bottom: 64px;
      margin-top: 77px;
    }


    &-name {
      font-size: 22px;
      font-style: italic;
      color: $white;
      margin-top: 20px;
    }

    &-work {
      font-size: 18px;
      color: $white;
      font-style: italic;
    }

    &-top {
      position: relative;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $white-4;
      font-weight: $semi-bold;
      font-family: $rft-font;
      font-size: 11px;
      &:after {
        content: '';
        position: absolute;
        bottom: -13px;
        left: calc(50% - 50px);
        width: 101px;
        height: 1px;
        background-color: $gold;
      }
    }
  }



  &__features {
    height: 1116px;
    background-image: url('../../images/invisible-features.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    $context: &;

    &-title {
      color: $white;
      margin-top: 124px;
      margin-bottom: 19px;
    }

    &-tooltipe {
      color: $white;
      font-size: 18px;
      line-height: 27px;
      background-color: #9e9da2;
      font-style: italic;
      width: 246px;
      height: 105px;
      position: absolute;
      top: 22px;
      left: -18px;
      transform: rotate(90deg);
      padding-left: 15px;
      padding-top: 11px;
      padding-right: 10px;
      opacity: 0;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 29px 19px 0 19px;
        border-color: #9e9da2 transparent transparent transparent;
        position: absolute;
        bottom: -11px;
        left: 30px;
      }

    }

    &-text {
      color: $white;
    }

    &-block {
      width: 100%;
      position: relative;
      height: 1116px;
    }

    &-plus {
      width: 16px;
      height: 2px;
      background-color: $white;
      transform: rotate(-90deg);
      position: relative;
      &:after {
        content: '';
        width: 16px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        transform: rotate(90deg);
      }
    }

    &-circle {
      width: 37px;
      height: 37px;
      background-color: $white;
      position: absolute;
      top: 6px;
      left: 6px;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transform: scale(1.2);
      transition: .3s;
      will-change: opacity, visibility, transform;
    }

    &-add {
      width: 49px;
      height: 49px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      &:hover {
        #{$context}-circle {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
        }
        #{$context}-plus {
          background-color: $grey-10;
          z-index: 3;
          &:after {
            background-color: $grey-10;
            z-index: 3;
          }
        }
        #{$context}-tooltipe {
          opacity: 1;
        }
      }

      &--top {
        position: absolute;
        top: 580px;
        left: -24px;
      }

      &--bottom {
        position: absolute;
        bottom: 41px;
        left: 223px;
      }

    }

  }

  &__system {
    margin-bottom: 179px;

    &-block {
      background-color: $grey-11;
      margin-top: 153px;
      padding-top: 51px;
      padding-left: 86px;
      padding-bottom: 143px;
    }

    &-title {
      width: 322px;
      margin-bottom: 13px;
    }
    &-text {
      width: 344px;
      font-size: 27px;
      line-height: 36px;
      font-family: $minion-display;
    }
    &-img {
      background-image: url('../../images/invisible-system-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 874px;
    }
  }

  &__hidden {
    position: relative;
    margin-bottom: 181px;

    &-left {
      position: absolute;
      height: 100%;
      width: 58.7%;
      background-image: url('../../images/invisible-lock-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      left: 0;
      top: 0;
    }

    &-title {
      width: 367px;
      margin-top: 81px;
      letter-spacing: 1px;
    }

    &-text {
      width: 419px;
      margin-top: 32px;
      margin-bottom: 174px;
    }

    &-block {
      width: 311px;
      height: 297px;
      background-color: $white;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      img {
        width: 139px;
        height: 164px;
      }
      span {
        letter-spacing: 0;
        color: #9D9DA1;
        font-family: $rft-font;
        font-weight: $semi-bold;
        font-size: 16px;
        margin-top: 18px;
      }
    }

  }


  &__img {
    position: relative;
  }

  &__descr {
    position: absolute;
    bottom: 89px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    color: $white;
    margin-bottom: 4px;
    transition: .25s;
  }

  &__price {
    font-family: $minion-font;
    display: flex;
    align-items: center;

    &--new {
      color: $white;
      font-size: 27px;
      margin-right: 11px;
      &.with-old {
        color: $red;
      }
    }

    &--old {
      font-size: 20px;
      color: $white;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - 1px );
        width: 100%;
        height: 1px;
        background-color: $white;
      }
    }

  }

  & .catalog-factoid__img--invisible {
    left: 0;
    top: 0;
    background-image: url('../../images/factoid-2.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  & .catalog-factoid {
    margin-top: 39px;
    &:hover {
      .catalog-factoid__title {
        color: $black;
      }
      .catalog-factoid__text {
        color: $black;
      }
    }
  }

  &__hidden {
    background-color: $grey-8;
    min-height: 1035px;
  }

}