.main-filter {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  padding-bottom: 90px;
  &:hover .main-filter__row .scrollbar {
    opacity: 1;
    visibility: visible;
  }

  & .main-filter__row.with {
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 108px;
      height: 100%;
      background: linear-gradient(270deg, #C4C4C4 27.8%, rgba(196, 196, 196, 0) 90.99%);
    }
  }


  &--last-child-width {
    .main-filter__list {
      width: 100%;
    }
    .main-filter__item:last-child {
      flex-grow: 1;
      border-right: none;
    }
  }

  &--slider-active {
    z-index: 1000;

    .main-filter__row {
      position: relative;
      width: calc(100% - 42px);


      .main-filter__list-wrap {
        overflow: visible!important;
        position: relative;
        &:after {
          content: '';
          left: 100%;
          top: 0;
          height: 42px;
          width: 100%;
          position: absolute;
        }
      }


      .scrollbar {
        width: 100%;
        height: 1px;
        background-color: #CBA576;
        position: absolute;
        bottom: 0;
        z-index: 100;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .25s;
      }
      .scrollbar .handle {
        width: 25px !important;
        height: 25px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #ffffff;
        border: 1px solid #CBA576;
        position: relative;
        top: -12px;
      }

    }
  }



  &__row {
    border-left: 1px solid $grey;
    width: 100%;
  }

  &__list {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    height: 42px;
    position: relative;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;

  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-family: $minion-font;
    background-color: #868686;
    margin-right: 9px;
    border-radius: 50%;
    color: $white;
    line-height: 20px;
    position: relative;
    z-index: 1;
    /*&::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 19px;
      height: 19px;
      background-color: #868686;
      border-radius: 50%;
      z-index: -1;
    }*/
    &:empty {
      display: none;
    }
  }

  &__item {
    list-style-type: none;
    padding: 0 35px 0 35px;
    border-right: 1px solid $grey;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: .25s;
    white-space: nowrap;
    &.no-paddings {
      padding-left: 0;
      padding-right: 0;
    }
    &:hover {
      color: $gold;
      &:before {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px );
        height: 2px;
        background-color: $gold;
        transition: .25s;
      }
      background: linear-gradient(134.72deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      .icon-sort-filter-arrow {
        transform: rotate(-180deg);
        stroke: #CBA576;
      }
    }
    &:hover .header-dropdown {
      opacity: 1;
      visibility: visible;
    }



    &--active {
      background: linear-gradient(134.72deg, #F8F8F8 13.54%, #EDEDED 86.46%);

      &:before {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px );
        height: 2px;
        background-color: $gold;
      }
    }

    .icon-sort-filter-arrow {
      width: 7px;
      height: 7px;
      fill: transparent;
      stroke: $black;
      transition: .25s;
    }
  }

  &__name {
    font-size: 21px;
    font-family: $minion-font;
    padding-right: 10px;
  }

  &__delete {
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    border: 1px solid $grey;
    transition: .25s;
    position: relative;
    z-index: 100;
    background: linear-gradient(110.79deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    &:hover {
      background: linear-gradient(110.79deg, #F8F8F8 13.54%, #EDEDED 86.46%);
      svg {
        fill: $gold;
      }
    }

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .svg-sprite-icon {
    width: 24px;
    height: 24px;
    transition: .25s;
  }
  }
}