.main-filter {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;



  &__row {
    border-left: 1px solid $grey;
  }

  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    height: 42px;
    position: relative;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;

  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-family: $minion-font;
    background-color: #868686;
    margin-right: 9px;
    border-radius: 50%;
    color: $white;
    line-height: 20px;
    position: relative;
    z-index: 1;
    /*&::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 19px;
      height: 19px;
      background-color: #868686;
      border-radius: 50%;
      z-index: -1;
    }*/
    &:empty {
      display: none;
    }
  }

  &__item {
    list-style-type: none;
    padding: 0 35px 0 35px;
    border-right: 1px solid $grey;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    position: relative;
    &:hover .header-dropdown {
      opacity: 1;
      visibility: visible;
    }



    &--active {
      background: linear-gradient(134.72deg, #F8F8F8 13.54%, #EDEDED 86.46%);

      &:before {
        content: '';
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px );
        height: 2px;
        background-color: $gold;
      }
    }

    .icon-sort-filter-arrow {
      width: 7px;
      height: 7px;
      fill: transparent;
      stroke: $black;
    }
  }

  &__name {
    font-size: 21px;
    font-family: $minion-font;
    padding-right: 10px;
  }

  &__delete {
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(110.79deg, #F8F8F8 13.54%, #EDEDED 86.46%);
    height: 100%;
    cursor: pointer;
    border: 1px solid $grey;

  .svg-sprite-icon {
    width: 24px;
    height: 24px;
  }
  }
}