.miniature {
  margin-bottom: 180px;
  & span {
    font-family: $minion-font;
    font-style: italic;
    font-size: 18px;
    line-height: 27px;
    display: block;
  }

  img {
    margin-bottom: 27px;
  }

  &__left {
    width: 54.25%;
    position: absolute;
    left: 0;

    span.miniature__left-text.miniature__left-text--right   {
      text-align: right;
    }

    img {
      height: 630px;
    }
  }

  &__right {
    img {
      height: 766px;
    }
  }

}