.product-variant {
  margin-bottom: 194px;
  background-color: $white-2;
  $context: &;

  &__bivalve .product-variant__name {
    bottom: 107px!important;
    right: -105px!important;
    transform-origin: 65px 8px!important;
  }

  &__bivalve {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .product-variant__card-description {
    & > a {
      padding-left: 3px;
      padding-right: 3px;
      display: inline-block;
      position: relative;
      transition: .25s;
      &:hover {
        &:after {
          background-color: $gold;
        }
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $grey-2;
        transition: .25s;
      }
    }
  }

  & .catalog-item__color {
    &:before {
      content: attr(data-color);
      position: absolute;
      top: -50px;
      left: 0;
      background-color: $grey-5;
      font-family: $minion-display;
      padding: 9px;
      color: $white;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-25px);
      transition: .25s;
      width: auto;
      white-space: nowrap;
    }
    &:hover:before {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__bivalve {
    #{$context}__name {
      transform-origin: 153px -50px;
    }

    #{$context}__card-add {
      margin-top: 29px;
    }

    #{$context}__card-price h6 {
      margin-top: 30px;
    }

    #{$context}__card-description {
      padding: 15px 39px 17px 15px;
    }

    #{$context}__right .catalog-item__colors {
      margin-bottom: 21px;
      padding-left: 3px;
    }

    #{$context}__order {
      margin-bottom: 23px;
    }

    #{$context}__name {
      bottom: 131px;
      right: -101px;
      left: auto;
    }

    #{$context}__card {
      padding: 32px 36px 54px 40px;
    }

    #{$context}__middle {
      flex: 0 0 50.5%;
      max-width: 50.5%;
    }

    #{$context}__img {
      width: 699.66px;
      height: 936px;
      left: 0;
    }

    #{$context}__right {
      margin-top: 98px;
      margin-left: 7%;
      flex: 1 0 31.25%;
      max-width: inherit;

      .breadcrumbs {
        margin-top: 0;
      }

    }


}

&__name {
font-size: 18px;
font-style: italic;
color: $grey-3;
transform: rotate(-90deg);
position: absolute;
bottom: 107px;
left: -45px;
  transform-origin: 65px 8px;
}

&--vitrage {
background-image: url('../../images/product-vitrage.svg');
background-repeat: no-repeat;
background-position: bottom;
background-size: contain;
}

.catalog-item__colors {
margin-bottom: 27px;
padding-left: 3px;
  flex-wrap: wrap;
}

.catalog-item__color {
  cursor: pointer;
  margin-bottom: 18px;
}

&__see {
display: inline-flex;
align-items: center;
background: linear-gradient(131.05deg, #F8F8F8 13.54%, #EDEDED 86.46%);
width: 422px;
height: 180px;
padding-right: 37px;
justify-content: flex-end;

&-title {
  width: 206px;
  position: absolute;
  left: -88px;
}
&-text {
  width: 248px;
  font-size: 20px;
  line-height: 27px;
}
}

& &__block {
&--entrance {
  background-color: $white;
  padding: 54px 36px;
  margin-top: 45px;
  margin-bottom: 117px;
  & .breadcrumbs {
    margin-top: 0;
    overflow: hidden;
  }
}
}

.catalog-item__color--active:after {
content: '';
position: absolute;
width: 29px;
height: 29px;
left: -5px;
top: -5px;
border-radius: 50%;
border: 1px solid #9D9DA1;
}

&__colors {
&-title {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: $rft-font;
  font-weight: $bold;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 9px;
}
}

&__title {
font-size: 61px;
line-height: 63px;
font-family: $minion-display;
font-weight: $regular;
margin: 0;
padding: 0;
letter-spacing: -2px;

}

&__order {
font-size: 18px;
color: $gold;
font-style: italic;
display: block;
margin-top: 16px;
padding-left: 3px;
margin-bottom: 32px;
& > span {
  display: inline-block;
  &:not(:last-child) {
    &::after {
      content: '';
      position: relative;
      width: 2px;
      height: 2px;
      background-color: $gold;
      display: inline-block;
      margin-left: 9px;
      margin-right: 9px;
      top: -3px;
    }
  }

}
}

&__description {
font-size: 19px;
line-height: 27px;
letter-spacing: .5px;
margin-bottom: 63px;
font-family: $minion-font;

&--entrance {
  padding-bottom: 36px;
  border-bottom: 1px solid $grey;
  margin-bottom: 18px;
}
}

& .breadcrumbs {
margin-top: 84px;
margin-bottom: 8px;
}

&__left, &__right {
flex: 0 0 31.25%;
max-width: 31.25%;
}

&__right {
margin-top: 80px;
}

&__middle {
flex: 0 0 37.5%;
max-width: 37.5%;
justify-content: center;
min-height: 1017px;
position: relative;
}

&__img {
width: 398px;
height: 931px;
display: none;
position: absolute;
bottom: 0;
left: calc(50% - 220px);
&--active {
  display: block;
}

&--disc {
  position: absolute;
  top: 103px;
  left: -135px;
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
  transform: rotate(-90deg);
  color: $black-3;
}

&--refresh {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 21px;
  height: 21px;
}

&--entrance {
  height: 1062px;
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 45px;
}

}

&__card {
background-color: $white;
padding: 41px 36px 54px 48px;
position: relative;

&-oldprice.with--line {
  color: $grey-6;
  font-size: 21px;
  text-decoration: line-through;
  margin-left: 18px;
}

&--new {
  &:after {
    background-image: url('../../images/new-logo.png');
    width: 113px;
    height: 113px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -41px;
    top: -34px;
    content: '';
  }

}

&-add {
  width: 100%;
  height: 81px;
  outline: none;
  background-color: $white;
  border: 1px solid #9D9DA1;
  transition: .3s;
  color: $black;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  font-family: $rft-font;
  font-size: 11px;
  cursor: pointer;
  will-change: background, color;
  margin-top: 18px;
  font-weight: $bold;
  &:hover {
    background-color: $grey-5;
    color: $white;
  }
}

&-cost {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: $rft-font;
  font-weight: $bold;
  position: relative;
  line-height: 18px;
  padding: 18px 0 9px 0;
  cursor: pointer;
  border-bottom: 1px solid $grey-2;
  transition: .25s;
  &:hover:after {
    background-image: url('../../images/icons/catalog-arrow-hover.svg');
  }
  &:hover {
    span {
      color: $gold;
      border-color: $gold;
    }
  }
  & span {
    display: inline-block;
    border-bottom: 1px solid $black;
    margin-bottom: 9px;
    letter-spacing: 2.2px;
    transition: .25s;
  }
  &.rotate:hover:after {
    background-image: url('../../images/icons/catalog-arrow-hover.svg');
  }
  &.rotate:after {
    transform: rotate(180deg);
    content: '';
    position: absolute;
    top: 14px;
    right: 5px;
    background-image: url('../../images/icons/catalog-arrow.svg');
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    transition: .25s;
  }

  &:after {
    content: '';
    position: absolute;
    top: 14px;
    right: 5px;
    background-image: url('../../images/icons/catalog-arrow.svg');
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    transition: .25s;

  }

}

&-right {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

&-left {
  text-transform: uppercase;
  color: $black;
  font-weight: $bold;
  font-family: $rft-font;
  font-size: 13px;
  letter-spacing: 2.2px;
}

&-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0 16px 0;
  border-bottom: 1px solid $grey-2;
  user-select: none;

  &--border {
    border-top: 1px solid $grey-2;
  }

}

&-minus, &-plus {
  border-radius: 50%;
  border: 1px solid $grey-3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: .25s;
  user-select: none;

  &:hover {
    color: $gold;
    border-color: $gold;
    &:after, &:before {
      background-color: $gold;
    }
  }

}

&-plus {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    width: 10px;
    height: 1px;
    background-color: $grey-3;
  }
  &:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    width: 10px;
    height: 1px;
    background-color: $grey-3;
    transform: rotate(90deg);
  }
}

&-minus {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 10px;
    width: 10px;
    height: 1px;
    background-color: $grey-3;
  }
}

&-number {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: $rft-font;
  font-weight: $bold;
  width: 27px;
  text-align: center;
}

&-price {
  padding-bottom: 9px;
  font-family: $minion-display;
  border-bottom: 1px solid $grey-2;


 &--entrance {
   border-bottom: none;
   margin-top: 27px;
   & > span.product-variant__card-price--inner {
     margin-bottom: 0;
   }
 }

  &--new {
    position: relative;
    span {
      color: $red;
    }
  }

  h6 {
    color: #9D9DA1;
    letter-spacing: 2.2px;
    font-size: 13px;
    margin-bottom: 9px;
    font-family: $rft-font;
    text-transform: uppercase;
    margin-top: 49px;
  }
  span {
    font-size: 36px;
    display: inline-block;
    margin-bottom: 4px;
    letter-spacing: -1px;
  }

}

&-title {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-family: $minion-display;
  font-weight: $regular;
  margin-bottom: 18px;
  letter-spacing: -1.3px;
}

&-material {
  font-family: $rft-font;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $grey-5;
  margin-bottom: 14px;
}

&-description {
  font-size: 18px;
  line-height: 27px;
  padding: 15px 50px 17px 15px;
  background: linear-gradient(300.92deg, #FFFFFF 13.54%, #EDEDED 86.46%);
  font-style: italic;
}

}

}