.product-cost {
  background-color: $white-2;
  padding-top: 74px;
  margin-bottom: 176px;
  $context: &;

  &__slider {
    position: sticky;
    top: 0;
    left: 0;
    &-bg {
      width: 100%;
      height: 112vh;
      object-fit: fill;
      position: absolute;
    }
  }

  &__slide {
    height: 100vh;
    width: 100%;
    /*background-image: url('../../images/product-cost-invisible.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0;
    left: 0;

    &--middle {
      height: 120vh;
      width: 100%;
    }

  }

  &__invisible {

    height: 220vh;
    width: 100%;
    color: $white-4;
    padding-top: 0;
    margin-bottom: 228px;

    #{$context}__table-img {
      margin-top: 30px;
    }

    #{$context}__invisible--middle {
      position: absolute;
      top: calc(50% - -107px);
      right: 0;
      display: none;
    }


    #{$context}__invisible--small {
      position: absolute;
      right: 37px;
      top: 192px;
    }

    #{$context}__invisible--big {
      position: absolute;
      right: 37px;
      top: calc(50% - -129px);
    }

    div.product-cost__table--left {
      margin-bottom: 270px;
    }

    #{$context}-right__slider {
      margin-top: 99px;
    }

    #{$context}__slide h2.product-cost__title {
      margin-top: 97px;
    }

    #{$context}__title {
      color: $white-4;
    }

    #{$context}__text--left {
      margin-top: 19px;
      color: $white-4;
      margin-bottom: 87px;
    }

    #{$context}__table--left {
      margin-bottom: 305px;
    }

    #{$context}__title {
      margin-top: 19px;
      margin-bottom: 20px;
      color: $grey-10;
      &-main {
        color: $white-4;
      }
    }

    #{$context}__table--right {
      width: 280px;
      margin-bottom: 52px;
    }

    #{$context}__table--line {
      width: 100%;
      margin-bottom: 121px;
    }


  }

  h2.product-cost__title {
    font-size: 42px;
    line-height: 54px;
    font-family: $minion-display;
    margin: 0;
    padding: 0;
    font-weight: 300;
    text-transform: inherit;
    letter-spacing: 0;
  }
  &__text {
    font-size: 20px;
    line-height: 27px;
    font-family: $minion-font;

    &--left {
      margin-bottom: 38px;
      letter-spacing: 0;
      margin-top: 11px;
    }

    &--right {
      margin-bottom: 27px;
    }

    &--bottom {
      margin-bottom: 18px;
      position: relative;

/*      &:before {
        content: '';
        position: absolute;
        left: -237px;
        top: 101px;
        background-image: url('../../images/icons/small-line-descr.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 128px;
        height: 15px;
      }*/
    }
  }

  &__title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    color: $grey-10;
    margin-bottom: 9px;
    font-weight: $bold;
    font-family: $rft-font;
    color: $black;

  }

  &__table {

    &--line {
      position: relative;

/*      &:before {
        content: '';
        background-image: url('../../images/icons/big-line-descr.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: -370px;
        top: 13px;
        width: 261px;
        height: 15px;
      }*/
    }

    &--right {
      margin-bottom: 31px;
    }

    &--left {
      margin-bottom: 101px;
    }

    &-body {
      border-top: 1px solid $grey-2;
      border-bottom: 1px solid $grey-2;

      &-bottom {
        margin-top: 18px;
      }
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 9px;
    }

    &-title {
      letter-spacing: 2.2px;
      text-transform: uppercase;
      font-family: $rft-font;
      font-size: 13px;
      color: $grey-10;
    }

    &-row {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $grey-2;

      &:last-child {
        border-bottom: none;
      }
    }

    &-text {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 12px;
      font-style: normal;
      font-weight: $semi-bold;
      font-family: $rft-font;
    }

  }

  &__price {
    padding-bottom: 90px;
    &-text {
      font-size: 13px;
      letter-spacing: 2.3px;
      text-transform: uppercase;
      color: $grey-10;
      margin-bottom: 9px;
      font-weight: $bold;
      font-family: $rft-font;
    }
    &-number {
      font-size: 36px;
      letter-spacing: -1px;
    }
  }

  &__img {
    position: relative;
    height: 100%;

    &-wrap {
      display: flex;
      justify-content: center;
    }

    &-door {
      width: 340px;
      height: 100%;
    }

    &-material {
      position: absolute;
      left: -175px;
      bottom: 172px;
      color: $grey-6;
      font-size: 18px;
      transform: rotate(-90deg);
      font-family: $minion-font;
      font-style: italic;
    }
  }

}