.product-cost {
  background-color: $white-2;
  padding-top: 74px;
  margin-bottom: 176px;
  position: relative;
  $context: &;

  &__invisible {
    &--1 {
      position: absolute;
      top: 170px;
      right: 10px;
    }
    &--2 {
      position: absolute;
      right: 12px;
      top: calc(71%);
    }
    &--3 {
      position: absolute;
      right: 46px;
      top: calc(68% - 1px);
    }
    .product-cost__slide {
      height: 915px;
    }
  }

  &__img-door-inner {
    display: none;
  }
  &__img-door {

    &--1 {
      position: absolute;
      display: none;
      top: 155px;
      right: -77px;
    }

    &--2 {
      position: absolute;
      display: none;
      top: calc(50% + 95px);
      right: -84px;
    }

    &--3 {
      position: absolute;
      display: none;
      right: -90px;
      top: 49px;
    }

    &--4 {
      position: absolute;
      display: none;
      top: calc(50% + 12px);
      left: 99px;
    }

  }

  &__block-counter {
    display: flex;
    font-family: $rft-font;
    font-weight: 600;
    color: $grey-6;
    margin-left: 18px;
    margin-right: 18px;
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 73px;
      position: absolute;
      bottom: 0;
      right: 0;
      & button {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      button.disabled svg {
        fill: $grey-2;
      }
      & svg {
        fill: $grey-3;
        transition: .25s;
        &:hover {
          fill: $gold;
        }
      }
    }
  }

  .product-cost-right__slider {
    button.disabled svg {
      fill: $grey-2;
    }
    .owl-nav {
      width: 85px;
      display: flex;
      justify-content: space-between;
      margin-top: 31px;
      margin-right: 8px;
      position: absolute;
      right: 0;
    }
    .owl-prev, .owl-next {
      outline: none;
    }
    .owl-prev svg, .owl-next svg {
      transition: .25s;
      fill: $grey-3;
      &:hover {
        fill: $gold;
      }
    }
  }
  &-right__frame {
    display: inline-flex;
    width: 100%;
  }
  &-right__slide {
    width: 100%;
  }

  &-right--product {
    #{$context}__title--bottom {
      margin-top: 36px;
    }
    #{$context}__table-img {
      margin-top: 37px;
    }
  }

  &__slider {

    &-bg {
      width: 100%;
      object-fit: fill;
      position: absolute;
      height: 1083px;
    }
  }

  &__slide {
    height: 798px;
    width: 100%;
    /*background-image: url('../../images/product-cost-invisible.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--product-center {
      display: flex;
      align-items: flex-end;
    }

    &--middle {
      height: 60vh;
      width: 100%;
      &:last-child {
        height: 100vh;
      }
    }
    &--bottom {
      height: 60vh;
      width: 100%;
    }
    &--top {
      height: 60vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  &__invisible {

    width: 100%;
    color: $white-4;
    padding-top: 0;
    margin-bottom: 228px;

    .product-cost__block-counter {
      margin-bottom: 0;
      bottom: -35px;
    }

    #{$context}__table-img {
      margin-top: 30px;
    }

    #{$context}__invisible--middle {
      position: absolute;
      top: calc(50% - -107px);
      right: 0;
      display: none;
    }


    #{$context}__invisible--small {
      position: absolute;
      right: 37px;
      top: 192px;
    }

    #{$context}__invisible--big {
      position: absolute;
      right: 37px;
      top: calc(50% - -129px);
    }

    div.product-cost__table--left {
      margin-bottom: 180px;
    }

    #{$context}-right__slider {
      margin-top: 99px;
    }

    #{$context}__slide h2.product-cost__title {
      margin-top: 97px;
      color: $white-4;
    }

    #{$context}__title {
      color: $white-4;
    }

    #{$context}__text--left {
      margin-top: 19px;
      color: $white-4;
      margin-bottom: 87px;
    }

    #{$context}__table--left {
      margin-bottom: 305px;
    }

    #{$context}__title {
      margin-top: 19px;
      margin-bottom: 20px;
      color: $grey-10;
      &-main {
        color: $white-4;
      }
    }

    #{$context}__table--right {
      width: 280px;
      margin-bottom: 52px;
    }

    #{$context}__table--line {
      width: 100%;
      margin-bottom: 121px;
    }


  }

  h2.product-cost__title {
    font-size: 42px;
    line-height: 54px;
    font-family: $minion-display;
    margin: 0;
    padding: 0;
    font-weight: 300;
    text-transform: inherit;
    letter-spacing: 0;
    color: $black;
  }
  &__text {
    font-size: 20px;
    line-height: 27px;
    font-family: $minion-font;

    &--left {
      margin-bottom: 38px;
      letter-spacing: 0;
      margin-top: 11px;
    }

    &--right {
      margin-bottom: 27px;
    }

    &--bottom {
      margin-bottom: 18px;
      position: relative;

/*      &:before {
        content: '';
        position: absolute;
        left: -237px;
        top: 101px;
        background-image: url('../../images/icons/small-line-descr.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 128px;
        height: 15px;
      }*/
    }
  }

  &__title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    color: $grey-10;
    margin-bottom: 9px;
    font-weight: $bold;
    font-family: $rft-font;

  }

  &__table {

    &--line {
      position: relative;

/*      &:before {
        content: '';
        background-image: url('../../images/icons/big-line-descr.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: -370px;
        top: 13px;
        width: 261px;
        height: 15px;
      }*/
    }

    &--right {
      margin-bottom: 31px;
    }

    &--left {
      margin-bottom: 101px;
    }

    &-body {
      border-top: 1px solid $grey-2;
      border-bottom: 1px solid $grey-2;

      &-bottom {
        margin-top: 18px;
      }
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 9px;
    }

    &-title {
      letter-spacing: 2.2px;
      text-transform: uppercase;
      font-family: $rft-font;
      font-size: 13px;
      color: $grey-10;
    }

    &-row {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $grey-2;

      &:last-child {
        border-bottom: none;
      }
    }

    &-text {
      letter-spacing: 3px;
      text-transform: uppercase;
      font-size: 13px;
      font-style: normal;
      font-weight: $semi-bold;
      font-family: $rft-font;
    }

  }

  &__price {
    padding-bottom: 63px;
    &-text {
      font-size: 13px;
      letter-spacing: 2.3px;
      text-transform: uppercase;
      color: $grey-10;
      margin-bottom: 9px;
      font-weight: $bold;
      font-family: $rft-font;
    }
    &-number {
      font-size: 36px;
      letter-spacing: -1px;
      font-family: $minion-display;
      &.with-old {
        & .price {
          color: $red;
        }
      }
    }
  }

  &__img {
    position: relative;
    height: 100%;


    &-wrap {
      display: flex;
      justify-content: center;
    }

    &-door {
      width: 340px;
      height: 100%;
      &--bivalve {
        width: 592px;
        & ~ .product-cost__img-material {
          right: -40px;
          left: auto;
          bottom: 72px;
        }
        & ~ img {
          display: none!important;
        }
      }

      &--first-line, &--second-line, &--third-line, &--fourth-line {
        position: absolute;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0 0;
        }
      }
      &--first-line {
        top: 147px;
        right: -86px;
      }
      &--second-line {
        bottom: 32vh;
        right: -84px;
      }
      &--third-line {
        top: 44px;
        right: -90px;
        display: none;
      }
      &--fourth-line {
        right: -89px;
        top: calc(50% - -13px);
        display: none;
      }



    }

    &-material {
      position: absolute;
      left: 0;
      bottom: 0;
      color: $grey-6;
      font-size: 18px;
      transform: rotate(-90deg);
      font-family: $minion-font;
      font-style: italic;
      transform-origin: -20px;
      width: auto;
      white-space: nowrap;
    }
  }

}