.reviews {
  overflow: hidden;
  padding-left: 13.7%;
  background-color: $white-3;
  padding-top: 88px;
  padding-bottom: 74px;

  @media (max-width: 1389px) {
    padding-left: 3.6%;
  }

  &--invisible {
    margin-bottom: 215px;
  }

  .owl-next {
    transform: rotate(180deg);
    margin-left: 50px;
    outline: none;
    &.disabled {
      &:hover {
        svg {
          fill: $grey-6;
        }
      }
    }
    svg {
      transition: .25s;
      fill: $grey-6;
      &:hover {
        fill: $gold;
      }
    }
  }
  .owl-prev {
    outline: none;
    &.disabled {
      &:hover {
        svg {
          fill: $grey-6;
        }
      }
    }
    svg {
      transition: .25s;
      fill: $grey-6;
      &:hover {
        fill: $gold;
      }
    }
  }

  .owl-nav {
    position: absolute;
    top: -75px;
    right: 253px;
    @media (max-width: 1389px) {
      right: 27px;
    }
  }

  &__title {
    margin-bottom: 36px;
  }

  &__container {
    display: flex;
  }

  &__block {
    width: 489px;
    border-left: 1px solid $grey;
    padding-left: 18px;

    @media (max-width: 1389px) { 
      width: 420px;
     }

    &-title {
      letter-spacing: 2.3px;
      text-transform: uppercase;
      font-family: $rft-font;
      font-weight: $bold;
      font-size: 13px;
      margin-bottom: 25px;
    }

    &-text {
      font-size: 20px;
      line-height: 27px;
      &:not(:last-child){
        margin-bottom: 25px;
      }
    }

  }

}