.solutions {
  margin-top: 181px;
  margin-bottom: 243px;

  &__title {
    text-align: center;
    width: 100%;
    margin-bottom: 54px;
  }

  &__img {
    height: 544px;
    width: 100%;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }

  &__block {
    &--one {
      width: 296px;
    }
    &--two {
      width: 412px;
    }
    &--three {
      width: 480px;
    }
  }

  &__number {
    letter-spacing: 0.03em;
    font-size: 22px;
    margin-bottom: 36px;
  }

  &__name {
    font-size: 27px;
    margin-bottom: 18px;
    letter-spacing: -1px;
    font-family: $minion-display;
  }

  &__text {
    font-size: 20px;
    line-height: 27px;
    margin-top: 18px;
  }

}