.stained-glass {
  padding-top: 18px;
  margin-bottom: 189px;
  position: relative;

  &__slide--item {
    width: 100%;
    height: 60vh;
    &:last-child {
      height: 100vh;
    }
  }

  &__screen {
    position: sticky;
    left: 0;
    top: calc(50% - 304px);
  }
  &--top,
  &--middle,
  &--bottom {
    width: 100%;
    height: 100vh;
  }

  &__slide {
    display: flex;
    height: 600px;
  }

  &__title {
    margin-bottom: 27px;
  }

  &__text {
    font-size: 19px;
    line-height: 27px;

    &--first {
      margin-bottom: 41px;
    }

    &--second {
      padding-top: 27px;
      padding-bottom: 27px;
      background-color: $white-2;
      font-size: 17px;
      padding-left: 27px;
      margin-bottom: 54px;
    }
  }

  &__block {
    background: $white-2;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &--small {
      height: 306px;
      width: 246px;
      position: relative;
      margin-top: 129px;
    }

    &--big {
      height: 531px;
      width: 422px;
      position: relative;
      margin-top: 17px;
      margin-left: 110px
    }

    &-name {
      font-size: 17px;
      font-style: italic;
      position: absolute;
      top: 18px;
      right: 18px;
    }

    &-img {
      &--small {
        width: 116px!important;
        height: 253px;
      }
      &--big {
        width: 214px!important;
        height: 463px;
      }
    }

    &-descr {
      position: absolute;
      bottom: -25px;
      left: 0;
      letter-spacing: 0.6px;
      color: $grey-6;
      font-size: 15px;
      font-weight: $semi-bold;
      font-family: $rft-font;
    }

  }
}