.strengthen-protection {
  overflow: hidden;
  margin-bottom: 174px;
  padding-left: 13.46%;
  height: 100vh;
  display: flex;
  align-items: center;

  &__overflow {
    overflow: hidden;
  }

  &__second  {
    height: 828px;
    padding-top: 36px;
    background-color: $white-2;
    padding-left: 40px;
    display: flex;

    &-stars {
      position: absolute;
      top: 24px;
      left: 11px;

      img {
        margin-bottom: 5px;
      }
    }

    &-img {
      position: relative;
      top: 5px;
      right: 19px;
      margin-bottom: 69px;
      height: 247px;
      &--right {
        right: -25px;
      }
    }

    &-product {
      width: 275px;
      background-color: $grey-8;
      padding-left: 18px;
      position: relative;
      margin-right: 39px;
      display: table;

    }
    &-name {
      font-size: 27px;
      letter-spacing: -0.9px;
      margin-bottom: 6px;
    }
    &-small {
      font-size: 16px;
      font-style: italic;
      margin-bottom: 30px;
    }
    &-price {
      font-family: $rft-font;
      color: $grey-3;
      font-weight: 600;
      letter-spacing: 0.05em;
      margin-top: 36px;
      padding-bottom: 18px;
    }
    &-made {
      display: flex;
      align-items: center;
      margin-top: 111px;
      padding-left: 3px;
      span {
        font-size: 20px;
        line-height: 27px;
        margin-left: 18px;
      }
    }
    &-title {
      margin-bottom: 30px;
    }
    &-text {

      &--top {
        width: 183px;
        margin-bottom: 18px;
      }
      &--bottom {
        width: 202px;
      }
    }
    &-block {

      &--first {
        width: 264px;
        margin-right: 82px;
      }
    }
  }

  &__slider {
    width: 100%;
    height: 100vh;
    display: flex;
    & > .strengthen-protection__left.first {
      margin-right: 40px;
    }
    & > section {
      width: 100%;
    }
  }

  &__wrap {
    width: 100%;
    background-color: $white-2;
    padding-top: 68px;
    padding-bottom: 62px;
    padding-right: 90px;
    height: 828px;
  }

  &__controll {
    display: flex;
  }


  &__container {
    display: flex;
  }

  &__list {
    padding-top: 14px;
  }

  &__title {
    text-align: center;
    margin-bottom: 41px;
  }

  &__list {
    min-width: 156px;

    &-item {
      font-size: 27px;
      transition: .25s;
      margin-bottom: 32px;
      cursor: pointer;

      &:hover {
        color: $gold;
      }

      &.active {
        color: $grey-5;
      }
    }

  }

  &__left {
    width: 100%;

    &-wrap {
      display: flex;
      padding-left: 70px;
    }
  }

  &__info {
    align-items: flex-start;
    display: none;
    cursor: pointer;
    &.active  {
      display: flex;
    }

    &-wrap {
      display: flex;
    }

    &-tips {
      background-color: $grey-8;
      width: 513px;
      margin-top: 36px;
      font-size: 20px;
      line-height: 27px;
      padding: 17px 61px 19px 27px;
    }

    &-img {
      margin-left: 131px;
    }

    &-descr {
      display: flex;
      margin-left: 85px;
      padding-top: 67px;
      flex-wrap: wrap;
    }

    &-complect {
      width: 249px;
      font-size: 20px;
      line-height: 27px;
      margin-left: 119px;
      margin-top: -5px;
    }
  }

  &__block {

    &:not(:last-child) {
      margin-bottom: 34px;
    }

    &-title {
      font-family: $rft-font;
      font-size: 12px;
      font-weight: 800;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 11px;
    }

    &-name {
      font-size: 20px;
    }

  }

  &__deal {
    padding-left: 51px;
    margin-top: 21px;

    &-item {
      font-size: 16px;
      font-family: $rft-font;
      font-weight: 600;
      color: $grey-5;
      padding-bottom: 21px;
      letter-spacing: .8px;
      text-align: right;
    }
  }


}
