.threshold {
  background-color: $white-2;
  padding-top: 63px;
  margin-bottom: 310px;

  &__background {
    background-image: url(../../images/threshold-bg.svg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 104px 20px;
    height: 855px;
    position: relative;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__descr {
    width: 293px;
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
    &--right {
      width: 194px;
      margin-left: 18px;
    }
  }

  &__block {
    position: relative;
    margin-bottom: 90px;
    &--right {
      align-items: flex-end;
      display: flex;
      height: 100%;
    }

    &-text {
      position: absolute;
      bottom: 39px;
      left: 104px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $grey-3;
      font-family: $rft-font;
      font-size: 12px;
      font-weight: $bold;
    }
  }

  &__img {

  }

}