.view-instagram {
  display: flex;
  align-items: center;
  height: 228px;
  overflow: hidden;

  &__left {
    padding-left: 13.5%;
    width: 41.8%;
    background-color: $black;
    padding-top: 26px;
    padding-bottom: 39px;
  }

  &__right {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-right: -81px;
  }

  &__title {
    color: $white;
    margin-bottom: 42px;
  }

  &__photo {
    cursor: pointer;
    img {
      display: block;
      width: 236px;
      height: 236px;
      margin-left: 2px;
    }
  }

  &__link {
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $white;
    font-family: $rft-font;
    font-weight: $bold;
    text-decoration: none;
    position: relative;
    display: block;
    &:after {
      content: '';
      background-image: url('../../images/link-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 106px;
      height: 15px;
      position: absolute;
      right: 101px;
      top: 0;
    }
  }

}