.catalog-item {
  position: relative;
  margin-bottom: 184px;



  &--new {
    position: relative;
    &:after {
      content: '';
      background-image: url('../../images/new-logo.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 110px;
      height: 110px;
      position: absolute;
      top: -29px;
      right: -16px;
    }
  }

  $context: &;


  & + .collection {
    margin-top: 50px;
  }
  &--interior {
    width: 372px;
    padding-top: 70px;


  }

  &--mask.catalog-item {
    & #{$context}__name {
      color: $white;
    }
    & #{$context}__price {
      color: $white;
    }
    & #{$context}__material {
      color: $white;
    }
    & #{$context}__footer {
      border-bottom: none;
    }
  }

  &--entrance.catalog-item {

    & .catalog-item__mask--big {
      display: block;
      width: calc(100% + 88px);
      height: 562px;
      left: -44px;
      bottom: 0;
      top: auto;
      z-index: -1;
      background-color: $grey-9;

    }
    & .catalog-item__img {
      height: 617px;
    }

  }

  &--bivalve {
    width: 598px;
    & #{$context}__mask {
      display: none;
    }

    & #{$context}__mask--big {
      display: block;
    }

    & #{$context}__footer {
      margin-top: 19px;
      padding-bottom: 19px;
    }

    & #{$context}__img {
      padding-right: 0;
      height: 827px;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__mask {
    position: absolute;
    height: 752px;
    width: 302px;
    background: #E1D7DA;
    right: 0;
    top: 0;
  }

  &__img {
    width: auto;
    height: 682px;
    position: relative;
    padding-right: 49px;
    &--discount {
      &:after {
        content: '';
        background-image: url('../../images/discount-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 283px;

      }
    }
  }

  &__footer {
    margin-top: 21px;
    padding-bottom: 23px;
    border-bottom: 1px solid $grey-2;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__name {
    font-size: 27px;
    font-family: $minion-font;
    color: $black;

  }
  &__price {
    font-size: 27px;
    font-family: $minion-font;
    color: $black;
  }

  &__material-container {
    font-size: 18px;
    font-family: $minion-font;
    font-style: italic;
    color: #868686;
  }

  &__colors {
    display: flex;
    align-items: center;
  }

  &__color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    transition: .25s;

    &--active:after {
      content: '';
      position: absolute;
      width: 29px;
      height: 29px;
      left: -5px;
      top: -5px;
      border-radius: 50%;
      border: 1px solid $grey-3;
      transition: .25s;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--black {
      background-color: $black;
    }

    &--grey {
      background-color: $grey-4;
    }

    &--brown {
      background-color: $brown;
    }
    
    &--grey-light {
      background-color: $grey-light;
    }

    &--multicolor {
      background-image: url('../../images/multicolor.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

}