@import 'catalog-item';
@import 'catalog-factoid';

.catalog {

  &__snippet-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    justify-content: space-between;
    width: 100%;
    &--bivalve {
      width: 100%;
    }
  }

  &__title {
    font-size: 61px;
    font-weight: $regular;
    line-height: 41px;
    margin: 0;
    padding-bottom: 31px;
  }

}