// --- Colors
$black: #000000;
$black-2: #231F20;
$black-3: #313131;
$black-4: #232323;
$white: #ffffff;
$white-2: #F7F7F7;
$white-3: #F2F2F2;
$grey: #E4E4E4;
$grey-2: #E0E0E0;
$grey-3: #9D9DA1;
$grey-4: #9F988F;
$grey-5: #868686;
$grey-6: #9D9DA1;
$grey-7: #DCDCDC;
$grey-8: #EEEEEE;
$grey-9: #989898;
$grey-10: #C4C4C4;

$grey-light: #D2C8BC;
$gold: #CBA576;

$green: #DCE4E4;

$red: #EE4941;

$brown: #C48C6C;

// --- Fonts
$rft-font: 'RFTone';
$minion-font: 'MinionPro';
$minion-display: 'MinionProDisplay';

$fz-base: 16px;

$semi-bold: 600;
$bold: 700;
$regular: 300;

// --- Queries
$big-screen: 1390px;
